<a href="https://colab.research.google.com/github/hugopoggi/pyspark_senai/blob/main/spark_24_n2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 31/07/2024
# Criando ambiente Spark

# Instalando biblioteca pyspark
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 4.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488490 sha256=2561ab4f1f1622cf4cebabe9df5a16bfb3adc99ed1970ded44e486e1500a2d17
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [2]:
# Importando funções e criando o objeto spark:
from pyspark.sql import SparkSession as ss
from pyspark.sql import functions as f
# Importando função para converter dados
from pyspark.sql.types import DoubleType

In [3]:
spark = ss.builder.appName("SENAI").getOrCreate()

In [4]:
spark

In [5]:
# Criando um data frame manualmente
dados = [
    ("joao", "analista", 5000),
    ("isabela", "analista", 5280),
    ("julia", "assistente", 2800),
    ("kleber", "auxiliar", 2200)
]

In [6]:
colunas = ["func", "cargo", "salario"]

In [7]:
# Criando Data Frame (estrutura de linhas x colunas):
df = spark.createDataFrame(dados, colunas)

In [8]:
# Explorando Data Frame:
# Verificando nome das colunas e seus tipos:
df.printSchema()

root
 |-- func: string (nullable = true)
 |-- cargo: string (nullable = true)
 |-- salario: long (nullable = true)

In [9]:
# Exibindo dados do data frame.
df.show()

+-------+----------+-------+
|   func|     cargo|salario|
+-------+----------+-------+
|   joao|  analista|   5000|
|isabela|  analista|   5280|
|  julia|assistente|   2800|
| kleber|  auxiliar|   2200|
+-------+----------+-------+

In [10]:
df.toPandas()

      func       cargo  salario
0     joao    analista     5000
1  isabela    analista     5280
2    julia  assistente     2800
3   kleber    auxiliar     2200

In [11]:
# Unindo dois DataFrames
dados2 = [
    ("ana", "auxiliar", 2490),
    ("rogerio", "auxiliar", 9800),
    ("roberto", "diretor", 32000)
]

In [12]:
df2 = spark.createDataFrame(dados2, colunas)

In [13]:
# Unindo data frames:
df_total = df.union(df2)

In [14]:
df_total.show()

+-------+----------+-------+
|   func|     cargo|salario|
+-------+----------+-------+
|   joao|  analista|   5000|
|isabela|  analista|   5280|
|  julia|assistente|   2800|
| kleber|  auxiliar|   2200|
|    ana|  auxiliar|   2490|
|rogerio|  auxiliar|   9800|
|roberto|   diretor|  32000|
+-------+----------+-------+

In [15]:
df = df_total

In [16]:
df.show()

+-------+----------+-------+
|   func|     cargo|salario|
+-------+----------+-------+
|   joao|  analista|   5000|
|isabela|  analista|   5280|
|  julia|assistente|   2800|
| kleber|  auxiliar|   2200|
|    ana|  auxiliar|   2490|
|rogerio|  auxiliar|   9800|
|roberto|   diretor|  32000|
+-------+----------+-------+

In [17]:
df.toPandas()

      func       cargo  salario
0     joao    analista     5000
1  isabela    analista     5280
2    julia  assistente     2800
3   kleber    auxiliar     2200
4      ana    auxiliar     2490
5  rogerio    auxiliar     9800
6  roberto     diretor    32000

In [18]:
# Filtrando valores:
# Motrar somente 'analistas' do DataFrame:
df.where('cargo =="analista"').show()

+-------+--------+-------+
|   func|   cargo|salario|
+-------+--------+-------+
|   joao|analista|   5000|
|isabela|analista|   5280|
+-------+--------+-------+

In [19]:
 # Filtrando valores:
# Motrar somente 'analistas' que ganham mais de 5000 do DataFrame:
df.where('cargo =="analista" and salario > 5000').show()

+-------+--------+-------+
|   func|   cargo|salario|
+-------+--------+-------+
|isabela|analista|   5280|
+-------+--------+-------+

In [20]:
df.show()

+-------+----------+-------+
|   func|     cargo|salario|
+-------+----------+-------+
|   joao|  analista|   5000|
|isabela|  analista|   5280|
|  julia|assistente|   2800|
| kleber|  auxiliar|   2200|
|    ana|  auxiliar|   2490|
|rogerio|  auxiliar|   9800|
|roberto|   diretor|  32000|
+-------+----------+-------+

In [21]:
# Criando ou alterando(mesmo nome altera valor da msm colula nome
# diferente cria coluna nova) novas colunas no pyspark:
# Visualizando alteração:
df.withColumn("novo_salario", df.salario * 1.07).show()

+-------+----------+-------+------------+
|   func|     cargo|salario|novo_salario|
+-------+----------+-------+------------+
|   joao|  analista|   5000|      5350.0|
|isabela|  analista|   5280|      5649.6|
|  julia|assistente|   2800|      2996.0|
| kleber|  auxiliar|   2200|      2354.0|
|    ana|  auxiliar|   2490|      2664.3|
|rogerio|  auxiliar|   9800|     10486.0|
|roberto|   diretor|  32000|     34240.0|
+-------+----------+-------+------------+

In [22]:
# Efetivando alteração no data frame
df = df.withColumn("novo_salario", df.salario * 1.07)

In [23]:
df.show()

+-------+----------+-------+------------+
|   func|     cargo|salario|novo_salario|
+-------+----------+-------+------------+
|   joao|  analista|   5000|      5350.0|
|isabela|  analista|   5280|      5649.6|
|  julia|assistente|   2800|      2996.0|
| kleber|  auxiliar|   2200|      2354.0|
|    ana|  auxiliar|   2490|      2664.3|
|rogerio|  auxiliar|   9800|     10486.0|
|roberto|   diretor|  32000|     34240.0|
+-------+----------+-------+------------+

In [24]:
# Criando DataFrame via importação de dados / arquivos:
url = "/content/drive/MyDrive/BasesSpark/empresas/part*"

empresas = spark.read.csv(
    url,
    sep= ";",
    header= True,
    # InferSchema "tenta" entender o tipo de dado e trazer em seu formato
    inferSchema= True
)

In [25]:
# Numero de linhas e trunca os dados falsos
empresas.show(20, False)

+-----+--------------------------------------------------------------------------------------------+-----------------+------------------------+--------------+-----+---------------+
|cnpj |razao_social                                                                                |natureza_juridica|qualificacao_responsavel|capital_social|porte|ente_federativo|
+-----+--------------------------------------------------------------------------------------------+-----------------+------------------------+--------------+-----+---------------+
|306  |FRANCAMAR REFRIGERACAO TECNICA S/C LTDA                                                     |2240             |49                      |0,00          |1    |NULL           |
|1355 |BRASILEIRO & OLIVEIRA LTDA                                                                  |2062             |49                      |0,00          |5    |NULL           |
|4820 |REGISTRO DE IMOVEIS, TABELIONATO 1 DE NOTAS E TABELIONATO E REGISTRO DE CONSTRATOS MARITIMOS|3034             |32                      |0,00          |5    |NULL           |
|5347 |ROSELY APARECIDA MONTEIRO CALTABIANO FREITAS                                                |2135             |50                      |0,00          |5    |NULL           |
|6846 |BADU E FILHOS TECIDOS LTDA                                                                  |2062             |49                      |4000,00       |1    |NULL           |
|8416 |ELETRICA RUBI LTDA                                                                          |2062             |49                      |0,00          |5    |NULL           |
|8992 |SHIROMA VEICULOS LTDA.                                                                      |2062             |49                      |0,00          |5    |NULL           |
|9091 |CONTATOS BAR E LANCHONETE LTDA                                                              |2062             |49                      |0,00          |5    |NULL           |
|9614 |ANTONIA APARECIDA DE SOUZA ULIANA                                                           |2135             |50                      |0,00          |5    |NULL           |
|9896 |DORACY CORAT DA COSTA                                                                       |2135             |50                      |0,00          |5    |NULL           |
|12112|LANCHONETE RIO VERMELHO LTDA                                                                |2062             |49                      |0,00          |5    |NULL           |
|12605|VALMAR JACAREI COMERCIO DE PRODUTOS ALIMENTIC LTDA                                          |2062             |49                      |0,00          |5    |NULL           |
|13407|ROSANA CRISTINA DUARTE RODRIGUES SERRALHERIA                                                |2135             |50                      |0,00          |5    |NULL           |
|13408|CELIO RODRIGUES DE MORAES DEPOSITO DE BANANAS                                               |2135             |50                      |0,00          |5    |NULL           |
|13721|MAQFRAN COMERCIO DE PECAS LTDA                                                              |2062             |49                      |0,00          |1    |NULL           |
|21181|MOURA & SILVA MERCEARIA LIMITADA                                                            |2062             |49                      |0,00          |5    |NULL           |
|21858|PAMARATI COMERCIO DE RACOES LTDA                                                            |2135             |50                      |0,00          |1    |NULL           |
|22277|INACIO RODRIGUES DO NASCIMENTO                                                              |2135             |50                      |0,00          |5    |NULL           |
|24205|SUELY LEME MARI ANI 25086572800                                                             |2135             |50                      |1000,00       |1    |NULL           |
|26805|SUELI BATISTA DA COSTA SILVA                                                                |2135             |50                      |0,00          |5    |NULL           |
+-----+--------------------------------------------------------------------------------------------+-----------------+------------------------+--------------+-----+---------------+
only showing top 20 rows

In [26]:
# Verificando quantos registros tem no dataframe:
empresas.count()

4585679

In [27]:
empresas.printSchema()

root
 |-- cnpj: integer (nullable = true)
 |-- razao_social: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_responsavel: integer (nullable = true)
 |-- capital_social: string (nullable = true)
 |-- porte: integer (nullable = true)
 |-- ente_federativo: string (nullable = true)

In [28]:
# Convertendo uma coluna de string para decimal:
# Antes de converter precisamos substituir a virgula pelo ponto.

empresas.withColumn("capital_social", f.regexp_replace("capital_social", ",", ".")).show()

+-----+--------------------+-----------------+------------------------+--------------+-----+---------------+
| cnpj|        razao_social|natureza_juridica|qualificacao_responsavel|capital_social|porte|ente_federativo|
+-----+--------------------+-----------------+------------------------+--------------+-----+---------------+
|  306|FRANCAMAR REFRIGE...|             2240|                      49|          0.00|    1|           NULL|
| 1355|BRASILEIRO & OLIV...|             2062|                      49|          0.00|    5|           NULL|
| 4820|REGISTRO DE IMOVE...|             3034|                      32|          0.00|    5|           NULL|
| 5347|ROSELY APARECIDA ...|             2135|                      50|          0.00|    5|           NULL|
| 6846|BADU E FILHOS TEC...|             2062|                      49|       4000.00|    1|           NULL|
| 8416|  ELETRICA RUBI LTDA|             2062|                      49|          0.00|    5|           NULL|
| 8992|SHIROMA VEICULOS ...|             2062|                      49|          0.00|    5|           NULL|
| 9091|CONTATOS BAR E LA...|             2062|                      49|          0.00|    5|           NULL|
| 9614|ANTONIA APARECIDA...|             2135|                      50|          0.00|    5|           NULL|
| 9896|DORACY CORAT DA C...|             2135|                      50|          0.00|    5|           NULL|
|12112|LANCHONETE RIO VE...|             2062|                      49|          0.00|    5|           NULL|
|12605|VALMAR JACAREI CO...|             2062|                      49|          0.00|    5|           NULL|
|13407|ROSANA CRISTINA D...|             2135|                      50|          0.00|    5|           NULL|
|13408|CELIO RODRIGUES D...|             2135|                      50|          0.00|    5|           NULL|
|13721|MAQFRAN COMERCIO ...|             2062|                      49|          0.00|    1|           NULL|
|21181|MOURA & SILVA MER...|             2062|                      49|          0.00|    5|           NULL|
|21858|PAMARATI COMERCIO...|             2135|                      50|          0.00|    1|           NULL|
|22277|INACIO RODRIGUES ...|             2135|                      50|          0.00|    5|           NULL|
|24205|SUELY LEME MARI A...|             2135|                      50|       1000.00|    1|           NULL|
|26805|SUELI BATISTA DA ...|             2135|                      50|          0.00|    5|           NULL|
+-----+--------------------+-----------------+------------------------+--------------+-----+---------------+
only showing top 20 rows

In [29]:
empresas = empresas.withColumn("capital_social", f.regexp_replace("capital_social", ",", "."))

In [30]:
empresas.show()

+-----+--------------------+-----------------+------------------------+--------------+-----+---------------+
| cnpj|        razao_social|natureza_juridica|qualificacao_responsavel|capital_social|porte|ente_federativo|
+-----+--------------------+-----------------+------------------------+--------------+-----+---------------+
|  306|FRANCAMAR REFRIGE...|             2240|                      49|          0.00|    1|           NULL|
| 1355|BRASILEIRO & OLIV...|             2062|                      49|          0.00|    5|           NULL|
| 4820|REGISTRO DE IMOVE...|             3034|                      32|          0.00|    5|           NULL|
| 5347|ROSELY APARECIDA ...|             2135|                      50|          0.00|    5|           NULL|
| 6846|BADU E FILHOS TEC...|             2062|                      49|       4000.00|    1|           NULL|
| 8416|  ELETRICA RUBI LTDA|             2062|                      49|          0.00|    5|           NULL|
| 8992|SHIROMA VEICULOS ...|             2062|                      49|          0.00|    5|           NULL|
| 9091|CONTATOS BAR E LA...|             2062|                      49|          0.00|    5|           NULL|
| 9614|ANTONIA APARECIDA...|             2135|                      50|          0.00|    5|           NULL|
| 9896|DORACY CORAT DA C...|             2135|                      50|          0.00|    5|           NULL|
|12112|LANCHONETE RIO VE...|             2062|                      49|          0.00|    5|           NULL|
|12605|VALMAR JACAREI CO...|             2062|                      49|          0.00|    5|           NULL|
|13407|ROSANA CRISTINA D...|             2135|                      50|          0.00|    5|           NULL|
|13408|CELIO RODRIGUES D...|             2135|                      50|          0.00|    5|           NULL|
|13721|MAQFRAN COMERCIO ...|             2062|                      49|          0.00|    1|           NULL|
|21181|MOURA & SILVA MER...|             2062|                      49|          0.00|    5|           NULL|
|21858|PAMARATI COMERCIO...|             2135|                      50|          0.00|    1|           NULL|
|22277|INACIO RODRIGUES ...|             2135|                      50|          0.00|    5|           NULL|
|24205|SUELY LEME MARI A...|             2135|                      50|       1000.00|    1|           NULL|
|26805|SUELI BATISTA DA ...|             2135|                      50|          0.00|    5|           NULL|
+-----+--------------------+-----------------+------------------------+--------------+-----+---------------+
only showing top 20 rows

In [31]:
# Convertendo a coluna "capital_social" para float (DoubleType):
empresas.withColumn("capital_social",
                    empresas.capital_social.cast(DoubleType())
                    ).show()

+-----+--------------------+-----------------+------------------------+--------------+-----+---------------+
| cnpj|        razao_social|natureza_juridica|qualificacao_responsavel|capital_social|porte|ente_federativo|
+-----+--------------------+-----------------+------------------------+--------------+-----+---------------+
|  306|FRANCAMAR REFRIGE...|             2240|                      49|           0.0|    1|           NULL|
| 1355|BRASILEIRO & OLIV...|             2062|                      49|           0.0|    5|           NULL|
| 4820|REGISTRO DE IMOVE...|             3034|                      32|           0.0|    5|           NULL|
| 5347|ROSELY APARECIDA ...|             2135|                      50|           0.0|    5|           NULL|
| 6846|BADU E FILHOS TEC...|             2062|                      49|        4000.0|    1|           NULL|
| 8416|  ELETRICA RUBI LTDA|             2062|                      49|           0.0|    5|           NULL|
| 8992|SHIROMA VEICULOS ...|             2062|                      49|           0.0|    5|           NULL|
| 9091|CONTATOS BAR E LA...|             2062|                      49|           0.0|    5|           NULL|
| 9614|ANTONIA APARECIDA...|             2135|                      50|           0.0|    5|           NULL|
| 9896|DORACY CORAT DA C...|             2135|                      50|           0.0|    5|           NULL|
|12112|LANCHONETE RIO VE...|             2062|                      49|           0.0|    5|           NULL|
|12605|VALMAR JACAREI CO...|             2062|                      49|           0.0|    5|           NULL|
|13407|ROSANA CRISTINA D...|             2135|                      50|           0.0|    5|           NULL|
|13408|CELIO RODRIGUES D...|             2135|                      50|           0.0|    5|           NULL|
|13721|MAQFRAN COMERCIO ...|             2062|                      49|           0.0|    1|           NULL|
|21181|MOURA & SILVA MER...|             2062|                      49|           0.0|    5|           NULL|
|21858|PAMARATI COMERCIO...|             2135|                      50|           0.0|    1|           NULL|
|22277|INACIO RODRIGUES ...|             2135|                      50|           0.0|    5|           NULL|
|24205|SUELY LEME MARI A...|             2135|                      50|        1000.0|    1|           NULL|
|26805|SUELI BATISTA DA ...|             2135|                      50|           0.0|    5|           NULL|
+-----+--------------------+-----------------+------------------------+--------------+-----+---------------+
only showing top 20 rows

In [32]:
empresas = empresas.withColumn("capital_social",
                    empresas.capital_social.cast(DoubleType())
                    )

In [33]:
empresas.show()

+-----+--------------------+-----------------+------------------------+--------------+-----+---------------+
| cnpj|        razao_social|natureza_juridica|qualificacao_responsavel|capital_social|porte|ente_federativo|
+-----+--------------------+-----------------+------------------------+--------------+-----+---------------+
|  306|FRANCAMAR REFRIGE...|             2240|                      49|           0.0|    1|           NULL|
| 1355|BRASILEIRO & OLIV...|             2062|                      49|           0.0|    5|           NULL|
| 4820|REGISTRO DE IMOVE...|             3034|                      32|           0.0|    5|           NULL|
| 5347|ROSELY APARECIDA ...|             2135|                      50|           0.0|    5|           NULL|
| 6846|BADU E FILHOS TEC...|             2062|                      49|        4000.0|    1|           NULL|
| 8416|  ELETRICA RUBI LTDA|             2062|                      49|           0.0|    5|           NULL|
| 8992|SHIROMA VEICULOS ...|             2062|                      49|           0.0|    5|           NULL|
| 9091|CONTATOS BAR E LA...|             2062|                      49|           0.0|    5|           NULL|
| 9614|ANTONIA APARECIDA...|             2135|                      50|           0.0|    5|           NULL|
| 9896|DORACY CORAT DA C...|             2135|                      50|           0.0|    5|           NULL|
|12112|LANCHONETE RIO VE...|             2062|                      49|           0.0|    5|           NULL|
|12605|VALMAR JACAREI CO...|             2062|                      49|           0.0|    5|           NULL|
|13407|ROSANA CRISTINA D...|             2135|                      50|           0.0|    5|           NULL|
|13408|CELIO RODRIGUES D...|             2135|                      50|           0.0|    5|           NULL|
|13721|MAQFRAN COMERCIO ...|             2062|                      49|           0.0|    1|           NULL|
|21181|MOURA & SILVA MER...|             2062|                      49|           0.0|    5|           NULL|
|21858|PAMARATI COMERCIO...|             2135|                      50|           0.0|    1|           NULL|
|22277|INACIO RODRIGUES ...|             2135|                      50|           0.0|    5|           NULL|
|24205|SUELY LEME MARI A...|             2135|                      50|        1000.0|    1|           NULL|
|26805|SUELI BATISTA DA ...|             2135|                      50|           0.0|    5|           NULL|
+-----+--------------------+-----------------+------------------------+--------------+-----+---------------+
only showing top 20 rows

In [34]:
empresas.printSchema()

root
 |-- cnpj: integer (nullable = true)
 |-- razao_social: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_responsavel: integer (nullable = true)
 |-- capital_social: double (nullable = true)
 |-- porte: integer (nullable = true)
 |-- ente_federativo: string (nullable = true)

In [35]:
empresas.limit(30).toPandas()

,cnpj,razao_social,natureza_juridica,qualificacao_responsavel,capital_social,porte,ente_federativo
0,306,FRANCAMAR REFRIGERACAO TECNICA S/C LTDA,2240,49,0.0,1,None
1,1355,BRASILEIRO & OLIVEIRA LTDA,2062,49,0.0,5,None
2,4820,"REGISTRO DE IMOVEIS, TABELIONATO 1 DE NOTAS E ...",3034,32,0.0,5,None
3,5347,ROSELY APARECIDA MONTEIRO CALTABIANO FREITAS,2135,50,0.0,5,None
4,6846,BADU E FILHOS TECIDOS LTDA,2062,49,4000.0,1,None
5,8416,ELETRICA RUBI LTDA,2062,49,0.0,5,None
6,8992,SHIROMA VEICULOS LTDA.,2062,49,0.0,5,None
7,9091,CONTATOS BAR E LANCHONETE LTDA,2062,49,0.0,5,None
8,9614,ANTONIA APARECIDA DE SOUZA ULIANA,2135,50,0.0,5,None
9,9896,DORACY CORAT DA COSTA,2135,50,0.0,5,None
10,12112,LANCHONETE RIO VERMELHO LTDA,2062,49,0.0,5,None
11,12605,VALMAR JACAREI COMERCIO DE PRODUTOS ALIMENTIC ...,2062,49,0.0,5,None
12,13407,ROSANA CRISTINA DUARTE RODRIGUES SERRALHERIA,2135,50,0.0,5,None
13,13408,CELIO RODRIGUES DE MORAES DEPOSITO DE BANANAS,2135,50,0.0,5,None
14,13721,MAQFRAN COMERCIO DE PECAS LTDA,2062,49,0.0,1,None
15,21181,MOURA & SILVA MERCEARIA LIMITADA,2062,49,0.0,5,None
16,21858,PAMARATI COMERCIO DE RACOES LTDA,2135,50,0.0,1,None
17,22277,INACIO RODRIGUES DO NASCIMENTO,2135,50,0.0,5,None
18,24205,SUELY LEME MARI ANI 25086572800,2135,50,1000.0,1,None
19,26805,SUELI BATISTA DA COSTA SILVA,2135,50,0.0,5,None
20,28991,CAKE DESIGN CONFEITARIA INDUSTRIA E COMERCIO LTDA,2062,49,0.0,5,None
21,35284,M MATIAS REPRESENTACOES S/C LTDA,2240,49,0.0,1,None
22,56250,JOAO NERY DE SANTANA FILHO,2135,50,0.0,1,None
23,57286,ANDRADE LOCADORA DE VIDEO LTDA,2062,49,0.0,5,None
24,58970,TOTAL CAR VEICULOS LTDA,2062,49,20000.0,1,None
25,66042,CONDOMINIO DO EDIFICIO ALBERTO AZEVEDO,3085,19,0.0,5,None
26,68157,ASSOC. DE PRODUTORES DE PAES E DERIVADOS DE CA...,3999,16,0.0,5,None
27,70273,VANDA DA SILVA LANCHONETE,2135,50,15000.0,1,None
28,74218,V G SILVA TECIDOS,2135,50,16000.0,1,None
29,75086,G A RIBEIRO REPRESENTACOES,4014,34,0.0,5,None

In [36]:
# Entendendo coluna "ente_federativo":
empresas\
        .where("ente_federativo is not null")\
        .show(20, False)

+--------+----------------------------------------------------------------------------------------------+-----------------+------------------------+--------------+-----+---------------------------+
|cnpj    |razao_social                                                                                  |natureza_juridica|qualificacao_responsavel|capital_social|porte|ente_federativo            |
+--------+----------------------------------------------------------------------------------------------+-----------------+------------------------+--------------+-----+---------------------------+
|784274  |SECRETARIA MUNICIPAL DE SAUDE                                                                 |1031             |5                       |0.0           |5    |PARATINGA - BA             |
|2030715 |AGENCIA NACIONAL DE TELECOMUNICACOES                                                          |1104             |16                      |0.0           |5    |UNI�O                      |
|3104818 |AUTARQUIA MUNICIPAL DE ESPORTES E RECREACAO DE OURINHOS                                       |1120             |16                      |0.0           |5    |OURINHOS - SP              |
|6035005 |INSTITUTO DE PREVIDENCIA DO MUNICIPIO DE CANHOTINHO                                           |1120             |16                      |0.0           |5    |CANHOTINHO - PE            |
|6110684 |FUNDO MUNICIPAL DA EDUCACAO                                                                   |1333             |5                       |0.0           |5    |JURANDA - PR               |
|6553523 |PIAUI SECRETARIA DO PLANEJAMENTO SEPLAN                                                       |1023             |5                       |0.0           |5    |PIAUI                      |
|10471096|FUNDO MUNICIPAL DE SAUDE DE SEBASTIANOPOLIS DO SUL                                            |1333             |5                       |0.0           |5    |SEBASTIANOPOLIS DO SUL - SP|
|11373944|FUNDO MUNICIPAL DE SAUDE - FMS                                                                |1333             |5                       |0.0           |5    |FEIRA DA MATA - BA         |
|11429746|FUNDO MUNICIPAL DE SAUDE DE NOVO HORIZONTE                                                    |1333             |5                       |0.0           |5    |NOVO HORIZONTE - BA        |
|11740122|FUNDO MUNICIPAL DE SAUDE DE CARRASCO BONITO - FMSCB                                           |1333             |5                       |0.0           |5    |CARRASCO BONITO - TO       |
|11902441|FUNDO MUNICIPAL DE SAUDE                                                                      |1333             |5                       |0.0           |5    |GENTIO DO OURO - BA        |
|12157728|FUNDO MUNICIPAL DE SAUDE DE VILA VELHA - F M S                                                |1333             |5                       |0.0           |5    |VILA VELHA - ES            |
|13474300|FUNDO MUNICIPAL DE ASSISTENCIA SOCIAL                                                         |1333             |5                       |0.0           |5    |ANDORINHA - BA             |
|13652375|CAMARA MUNICIPAL DE SANTA CRUZ CABRALIA                                                       |1066             |5                       |0.0           |5    |SANTA CRUZ CABRALIA - BA   |
|15086405|COMISSAO MUNICIPAL DE DEFESA CIVIL - COMDEC                                                   |1210             |16                      |0.0           |5    |FRANCISCO ALVES - PR       |
|18144198|FUNDO MUNICIPAL DE RECURSOS DESTINADOS AO ATENDIMENTO DOS DIREITOS DA CRIANCA E DO ADOLESCENTE|1333             |5                       |0.0           |5    |SARAPUI - SP               |
|18688946|FUNDO MUNICIPAL DE DESENVOLVIMENTO AMBIENTAL DE UBA                                           |1031             |5                       |0.0           |5    |UBA - MG                   |
|18741825|FUNDO MUNICIPAL DO IDOSO DE SERAFINA CORREA                                                   |1333             |5                       |0.0           |5    |SERAFINA CORREA - RS       |
|19204815|ASSOCIACAO DOS MORADORES DO BAIRRO LIMBERGER                                                  |1210             |16                      |0.0           |5    |ARROIO DO TIGRE - RS       |
|19412696|FUNDO MUNICIPAL DA  CULTURA                                                                   |1333             |5                       |0.0           |5    |CARMO DO RIO CLARO - MG    |
+--------+----------------------------------------------------------------------------------------------+-----------------+------------------------+--------------+-----+---------------------------+
only showing top 20 rows

In [37]:
# Padronizando dados nulos da coluna "ente_federativo"
empresas.na.fill({"ente_federativo":"N/A"}).show()

+-----+--------------------+-----------------+------------------------+--------------+-----+---------------+
| cnpj|        razao_social|natureza_juridica|qualificacao_responsavel|capital_social|porte|ente_federativo|
+-----+--------------------+-----------------+------------------------+--------------+-----+---------------+
|  306|FRANCAMAR REFRIGE...|             2240|                      49|           0.0|    1|            N/A|
| 1355|BRASILEIRO & OLIV...|             2062|                      49|           0.0|    5|            N/A|
| 4820|REGISTRO DE IMOVE...|             3034|                      32|           0.0|    5|            N/A|
| 5347|ROSELY APARECIDA ...|             2135|                      50|           0.0|    5|            N/A|
| 6846|BADU E FILHOS TEC...|             2062|                      49|        4000.0|    1|            N/A|
| 8416|  ELETRICA RUBI LTDA|             2062|                      49|           0.0|    5|            N/A|
| 8992|SHIROMA VEICULOS ...|             2062|                      49|           0.0|    5|            N/A|
| 9091|CONTATOS BAR E LA...|             2062|                      49|           0.0|    5|            N/A|
| 9614|ANTONIA APARECIDA...|             2135|                      50|           0.0|    5|            N/A|
| 9896|DORACY CORAT DA C...|             2135|                      50|           0.0|    5|            N/A|
|12112|LANCHONETE RIO VE...|             2062|                      49|           0.0|    5|            N/A|
|12605|VALMAR JACAREI CO...|             2062|                      49|           0.0|    5|            N/A|
|13407|ROSANA CRISTINA D...|             2135|                      50|           0.0|    5|            N/A|
|13408|CELIO RODRIGUES D...|             2135|                      50|           0.0|    5|            N/A|
|13721|MAQFRAN COMERCIO ...|             2062|                      49|           0.0|    1|            N/A|
|21181|MOURA & SILVA MER...|             2062|                      49|           0.0|    5|            N/A|
|21858|PAMARATI COMERCIO...|             2135|                      50|           0.0|    1|            N/A|
|22277|INACIO RODRIGUES ...|             2135|                      50|           0.0|    5|            N/A|
|24205|SUELY LEME MARI A...|             2135|                      50|        1000.0|    1|            N/A|
|26805|SUELI BATISTA DA ...|             2135|                      50|           0.0|    5|            N/A|
+-----+--------------------+-----------------+------------------------+--------------+-----+---------------+
only showing top 20 rows

In [38]:
empresas = empresas.na.fill({"ente_federativo":"N/A"})

In [39]:
# Verifique quantas empresas tem capital_social igual ou menor a zero:

empresas\
        .where("capital_social < 0").count()

0

In [40]:
empresas\
        .where("capital_social == 0")\
        .count()

1691023

In [41]:
# Criando um novo Data Frame somente com capital social maior que zero:
capitalizadas = empresas\
        .where("capital_social > 0")

In [42]:
capitalizadas.show(30, False)

+------+-------------------------------------------------------------------+-----------------+------------------------+--------------+-----+---------------+
|cnpj  |razao_social                                                       |natureza_juridica|qualificacao_responsavel|capital_social|porte|ente_federativo|
+------+-------------------------------------------------------------------+-----------------+------------------------+--------------+-----+---------------+
|6846  |BADU E FILHOS TECIDOS LTDA                                         |2062             |49                      |4000.0        |1    |N/A            |
|24205 |SUELY LEME MARI ANI 25086572800                                    |2135             |50                      |1000.0        |1    |N/A            |
|58970 |TOTAL CAR VEICULOS LTDA                                            |2062             |49                      |20000.0       |1    |N/A            |
|70273 |VANDA DA SILVA LANCHONETE                                          |2135             |50                      |15000.0       |1    |N/A            |
|74218 |V G SILVA TECIDOS                                                  |2135             |50                      |16000.0       |1    |N/A            |
|116791|AGNALDO ROCHA VIANA                                                |2135             |50                      |60000.0       |1    |N/A            |
|122983|ALOISIO OCZUST                                                     |2135             |50                      |10000.0       |1    |N/A            |
|164903|SUPERMERCADO DALTO LTDA                                            |2062             |49                      |10000.0       |5    |N/A            |
|213573|AUSTEMP TRATAMENTO TERMICO DE METAIS LTDA                          |2062             |49                      |25000.0       |3    |N/A            |
|214328|LUIS CARLOS DIAS ALMEIDA                                           |2135             |50                      |10000.0       |5    |N/A            |
|215102|JBM COMERCIAL DE ALIMENTOS LTDA                                    |2062             |49                      |30000.0       |3    |N/A            |
|230723|TRATTATIVA DOCUMENTOS LTDA                                         |2062             |49                      |8000.0        |1    |N/A            |
|251420|JORGE LUIZ ANDRADE SANTOS                                          |2135             |50                      |10000.0       |1    |N/A            |
|292505|GRANCOR CORRETORA DE SEGUROS E ADMINISTRADORA LTDA                 |2062             |49                      |5000.0        |1    |N/A            |
|311683|FROM BRAZIL TRADING LTDA                                           |2062             |49                      |10000.0       |1    |N/A            |
|346063|COR DO CEU INDUSTRIA DO VESTUARIO LTDA                             |2062             |49                      |1000000.0     |3    |N/A            |
|399680|MARIANTE COMERCIO DE ALIMENTOS LTDA                                |2062             |49                      |50000.0       |5    |N/A            |
|439871|ROMUALDO BEZERRA                                                   |2135             |50                      |1000.0        |1    |N/A            |
|477251|FORMS EMPREENDIMENTOS E CONSULTORIA LTDA                           |2062             |49                      |30000.0       |1    |N/A            |
|514684|BARROS & MIRANDA LTDA                                              |2062             |49                      |30000.0       |3    |N/A            |
|550169|FERNANDO SKAF                                                      |2135             |50                      |70000.0       |3    |N/A            |
|616948|NOVA PRIMUS COMERCIO DE PECAS INDUSTRIAL LTDA                      |2062             |49                      |50000.0       |1    |N/A            |
|639844|MULTI-HIDRO INDUSTRIA E COMERCIO DE TUBOS, CONEXOES E VALVULAS LTDA|2062             |49                      |1.44E7        |5    |N/A            |
|648150|PLH COMERCIO DE RACOES LTDA                                        |2062             |49                      |3500.0        |1    |N/A            |
|655784|HOB & NOB COM. IMPORT. E EXPORT. LTDA                              |2062             |49                      |52000.0       |3    |N/A            |
|656225|JOAO CARLOS RODRIGUES ARMARINHOS                                   |2135             |50                      |20000.0       |1    |N/A            |
|677535|TRANSPORTES TRANSRAFFI LTDA                                        |2062             |49                      |30000.0       |1    |N/A            |
|820160|I B ABRAMOSKI EIRELI                                               |2305             |65                      |100000.0      |1    |N/A            |
|849632|NR CONTABIL LTDA                                                   |2062             |49                      |5000.0        |3    |N/A            |
|860872|LUSA LOCADORA DE VEICULOS LTDA                                     |2062             |49                      |100000.0      |5    |N/A            |
+------+-------------------------------------------------------------------+-----------------+------------------------+--------------+-----+---------------+
only showing top 30 rows

In [43]:
# Pesquisando strings:
# Mostre em tela os 20 primeiros registros de empresas que contenham a palavra
# restaurante
capitalizadas\
              .where("razao_social like '%RESTAURANTE%'")\
              .show(20, False)

+--------+------------------------------------------------------+-----------------+------------------------+--------------+-----+---------------+
|cnpj    |razao_social                                          |natureza_juridica|qualificacao_responsavel|capital_social|porte|ente_federativo|
+--------+------------------------------------------------------+-----------------+------------------------+--------------+-----+---------------+
|2591875 |BAR E RESTAURANTE CASA DA QUINTA LTDA                 |2062             |49                      |5000.0        |1    |N/A            |
|3059084 |DON MUGO RESTAURANTE LTDA                             |2062             |49                      |10000.0       |1    |N/A            |
|3396661 |GERACAO DE OURO - BAR E RESTAURANTE LTDA              |2062             |5                       |40000.0       |5    |N/A            |
|5930238 |PSTJ RESTAURANTE LTDA                                 |2062             |49                      |30000.0       |1    |N/A            |
|6218415 |CASTELO RESTAURANTE LTDA                              |2062             |49                      |10000.0       |1    |N/A            |
|7137310 |VALENTE SUZART FRANCO RESTAURANTE, CREPERIA E BAR LTDA|2062             |49                      |90000.0       |1    |N/A            |
|7574443 |DUBAY BAR RESTAURANTE LTDA                            |2062             |49                      |20000.0       |1    |N/A            |
|7836535 |RESTAURANTE PONTO NOBRE EIRELI                        |2305             |65                      |105000.0      |1    |N/A            |
|8358548 |PAULYPATRY CAFE & RESTAURANTE SELF SEVICE LTDA        |2062             |49                      |25000.0       |1    |N/A            |
|8383324 |BAR E RESTAURANTE BABALOTIM LTDA.                     |2062             |49                      |10000.0       |1    |N/A            |
|8617005 |REI DA PICANHA - RESTAURANTE E CHOPERIA EIRELI        |2305             |65                      |110000.0      |1    |N/A            |
|8626680 |FELIZ PIPA BAR E RESTAURANTE LTDA                     |2062             |49                      |120001.0      |1    |N/A            |
|8702464 |T T L RESTAURANTE LTDA                                |2062             |49                      |5000.0        |1    |N/A            |
|8873933 |REGINA DA S SANTOS RESTAURANTE                        |2135             |50                      |8000.0        |1    |N/A            |
|8892808 |MARCIANO REZES DA SILVA RESTAURANTE                   |2135             |50                      |20000.0       |1    |N/A            |
|9368171 |LANCHONETE E RESTAURANTE RAIZ LTDA                    |2062             |49                      |15000.0       |1    |N/A            |
|9506266 |PEREGRINOS BAR E RESTAURANTE LTDA                     |2062             |49                      |10000.0       |1    |N/A            |
|9510093 |AFA - SERVICOS DE HOTELARIA E RESTAURANTE LTDA        |2062             |49                      |579365.0      |1    |N/A            |
|10486457|RESTAURANTE ALEGRIA ALEGRIA LTDA                      |2062             |49                      |5000.0        |1    |N/A            |
|10691348|DSL BAR E RESTAURANTE EIRELI                          |2305             |65                      |100000.0      |1    |N/A            |
+--------+------------------------------------------------------+-----------------+------------------------+--------------+-----+---------------+
only showing top 20 rows

In [44]:
# Trabalhando com dados estatisticos basico:
# Crie uma visão estatistica geral contendo: contagem, média. mediana, soma e
# Desvio padrão da coluna capital_social.

capitalizadas.agg(
          f.count("*").alias("quantidade"),
          f.mean("capital_social").alias("media_investimento"),
          f.median("capital_social").alias("mediana_investimento"),
          f.sum("capital_social").alias("total_investido"),
          f.stddev("capital_social").alias("desvio_padrao")
          ).show()

+----------+------------------+--------------------+--------------------+-------------------+
|quantidade|media_investimento|mediana_investimento|     total_investido|      desvio_padrao|
+----------+------------------+--------------------+--------------------+-------------------+
|   2894656| 797946.8062905608|              5000.0|2.309781510509809...|2.658089851944688E8|
+----------+------------------+--------------------+--------------------+-------------------+

In [45]:
capitalizadas.agg(
          f.format_number(f.count("*"),2).alias("quantidade"),
          f.format_number(f.mean("capital_social"),2).alias("media_investimento"),
          f.format_number(f.median("capital_social"),2).alias("mediana_investimento"),
          f.format_number(f.sum("capital_social"),2).alias("total_investido"),
          f.format_number(f.stddev("capital_social"),2).alias("desvio_padrao")
          ).toPandas()

,quantidade,media_investimento,mediana_investimento,total_investido,desvio_padrao
0,"2,894,656.00","797,946.81","5,000.00","2,309,781,510,509.81","265,808,985.19"

In [46]:
# Mostre as mesmas informações acima mas agrupando por porte de empresa
empresas.show()

+-----+--------------------+-----------------+------------------------+--------------+-----+---------------+
| cnpj|        razao_social|natureza_juridica|qualificacao_responsavel|capital_social|porte|ente_federativo|
+-----+--------------------+-----------------+------------------------+--------------+-----+---------------+
|  306|FRANCAMAR REFRIGE...|             2240|                      49|           0.0|    1|            N/A|
| 1355|BRASILEIRO & OLIV...|             2062|                      49|           0.0|    5|            N/A|
| 4820|REGISTRO DE IMOVE...|             3034|                      32|           0.0|    5|            N/A|
| 5347|ROSELY APARECIDA ...|             2135|                      50|           0.0|    5|            N/A|
| 6846|BADU E FILHOS TEC...|             2062|                      49|        4000.0|    1|            N/A|
| 8416|  ELETRICA RUBI LTDA|             2062|                      49|           0.0|    5|            N/A|
| 8992|SHIROMA VEICULOS ...|             2062|                      49|           0.0|    5|            N/A|
| 9091|CONTATOS BAR E LA...|             2062|                      49|           0.0|    5|            N/A|
| 9614|ANTONIA APARECIDA...|             2135|                      50|           0.0|    5|            N/A|
| 9896|DORACY CORAT DA C...|             2135|                      50|           0.0|    5|            N/A|
|12112|LANCHONETE RIO VE...|             2062|                      49|           0.0|    5|            N/A|
|12605|VALMAR JACAREI CO...|             2062|                      49|           0.0|    5|            N/A|
|13407|ROSANA CRISTINA D...|             2135|                      50|           0.0|    5|            N/A|
|13408|CELIO RODRIGUES D...|             2135|                      50|           0.0|    5|            N/A|
|13721|MAQFRAN COMERCIO ...|             2062|                      49|           0.0|    1|            N/A|
|21181|MOURA & SILVA MER...|             2062|                      49|           0.0|    5|            N/A|
|21858|PAMARATI COMERCIO...|             2135|                      50|           0.0|    1|            N/A|
|22277|INACIO RODRIGUES ...|             2135|                      50|           0.0|    5|            N/A|
|24205|SUELY LEME MARI A...|             2135|                      50|        1000.0|    1|            N/A|
|26805|SUELI BATISTA DA ...|             2135|                      50|           0.0|    5|            N/A|
+-----+--------------------+-----------------+------------------------+--------------+-----+---------------+
only showing top 20 rows

In [47]:
capitalizadas.groupby("porte").agg(
          f.format_number(f.count("*"),2).alias("quantidade"),
          f.format_number(f.mean("capital_social"),2).alias("media_investimento"),
          f.format_number(f.median("capital_social"),2).alias("mediana_investimento"),
          f.format_number(f.sum("capital_social"),2).alias("total_investido"),
          f.format_number(f.stddev("capital_social"),2).alias("desvio_padrao")
          ).toPandas()

,porte,quantidade,media_investimento,mediana_investimento,total_investido,desvio_padrao
0,NaN,1.00,"50,000.00","50,000.00","50,000.00",None
1,1.0,"2,671,059.00","398,290.53","5,000.00","1,063,857,513,944.56","222,606,539.80"
2,3.0,"102,894.00","2,910,839.84","67,800.00","299,507,954,553.49","790,882,852.95"
3,5.0,"120,702.00","7,840,930.49","50,000.00","946,415,992,011.76","254,102,444.49"

In [48]:
# Altere a coluna "porte" para seu descritivo
# Consultar dicionário de dados:
capitalizadas.withColumn("porte",
                         f.when(capitalizadas.porte == 0, "NAO INFORMADO")\
                         .when(capitalizadas.porte == 1, "MICRO EMPRESA")\
                         .when(capitalizadas.porte == 3, "PEQUENO PORTE")\
                         .otherwise("OUTRAS")
                         ).show()

+------+--------------------+-----------------+------------------------+--------------+-------------+---------------+
|  cnpj|        razao_social|natureza_juridica|qualificacao_responsavel|capital_social|        porte|ente_federativo|
+------+--------------------+-----------------+------------------------+--------------+-------------+---------------+
|  6846|BADU E FILHOS TEC...|             2062|                      49|        4000.0|MICRO EMPRESA|            N/A|
| 24205|SUELY LEME MARI A...|             2135|                      50|        1000.0|MICRO EMPRESA|            N/A|
| 58970|TOTAL CAR VEICULO...|             2062|                      49|       20000.0|MICRO EMPRESA|            N/A|
| 70273|VANDA DA SILVA LA...|             2135|                      50|       15000.0|MICRO EMPRESA|            N/A|
| 74218|   V G SILVA TECIDOS|             2135|                      50|       16000.0|MICRO EMPRESA|            N/A|
|116791| AGNALDO ROCHA VIANA|             2135|                      50|       60000.0|MICRO EMPRESA|            N/A|
|122983|      ALOISIO OCZUST|             2135|                      50|       10000.0|MICRO EMPRESA|            N/A|
|164903|SUPERMERCADO DALT...|             2062|                      49|       10000.0|       OUTRAS|            N/A|
|213573|AUSTEMP TRATAMENT...|             2062|                      49|       25000.0|PEQUENO PORTE|            N/A|
|214328|LUIS CARLOS DIAS ...|             2135|                      50|       10000.0|       OUTRAS|            N/A|
|215102|JBM COMERCIAL DE ...|             2062|                      49|       30000.0|PEQUENO PORTE|            N/A|
|230723|TRATTATIVA DOCUME...|             2062|                      49|        8000.0|MICRO EMPRESA|            N/A|
|251420|JORGE LUIZ ANDRAD...|             2135|                      50|       10000.0|MICRO EMPRESA|            N/A|
|292505|GRANCOR CORRETORA...|             2062|                      49|        5000.0|MICRO EMPRESA|            N/A|
|311683|FROM BRAZIL TRADI...|             2062|                      49|       10000.0|MICRO EMPRESA|            N/A|
|346063|COR DO CEU INDUST...|             2062|                      49|     1000000.0|PEQUENO PORTE|            N/A|
|399680|MARIANTE COMERCIO...|             2062|                      49|       50000.0|       OUTRAS|            N/A|
|439871|    ROMUALDO BEZERRA|             2135|                      50|        1000.0|MICRO EMPRESA|            N/A|
|477251|FORMS EMPREENDIME...|             2062|                      49|       30000.0|MICRO EMPRESA|            N/A|
|514684|BARROS & MIRANDA ...|             2062|                      49|       30000.0|PEQUENO PORTE|            N/A|
+------+--------------------+-----------------+------------------------+--------------+-------------+---------------+
only showing top 20 rows

In [49]:
capitalizadas = capitalizadas.withColumn("porte",
                         f.when(capitalizadas.porte == 0, "NAO INFORMADO")\
                         .when(capitalizadas.porte == 1, "MICRO EMPRESA")\
                         .when(capitalizadas.porte == 3, "PEQUENO PORTE")\
                         .otherwise("OUTRAS")
                         )

In [50]:
capitalizadas.groupby("porte").agg(
          f.format_number(f.count("*"),2).alias("quantidade"),
          f.format_number(f.mean("capital_social"),2).alias("media_investimento"),
          f.format_number(f.median("capital_social"),2).alias("mediana_investimento"),
          f.format_number(f.sum("capital_social"),2).alias("total_investido"),
          f.format_number(f.stddev("capital_social"),2).alias("desvio_padrao")
          ).orderBy("porte").toPandas()

,porte,quantidade,media_investimento,mediana_investimento,total_investido,desvio_padrao
0,MICRO EMPRESA,"2,671,059.00","398,290.53","5,000.00","1,063,857,513,944.56","222,606,539.80"
1,OUTRAS,"120,703.00","7,840,865.94","50,000.00","946,416,042,011.76","254,101,392.88"
2,PEQUENO PORTE,"102,894.00","2,910,839.84","67,800.00","299,507,954,553.49","790,882,852.95"

In [51]:
# Altere a coluna "qualificação_responsavel" para "responsavel" e a coluna:
# "ente_federativo" para "UF":
capitalizadas.withColumnsRenamed({
    "qualificacao_responsavel":"responsavel",
    "ente_federativo":"UF"
}).show()

+------+--------------------+-----------------+-----------+--------------+-------------+---+
|  cnpj|        razao_social|natureza_juridica|responsavel|capital_social|        porte| UF|
+------+--------------------+-----------------+-----------+--------------+-------------+---+
|  6846|BADU E FILHOS TEC...|             2062|         49|        4000.0|MICRO EMPRESA|N/A|
| 24205|SUELY LEME MARI A...|             2135|         50|        1000.0|MICRO EMPRESA|N/A|
| 58970|TOTAL CAR VEICULO...|             2062|         49|       20000.0|MICRO EMPRESA|N/A|
| 70273|VANDA DA SILVA LA...|             2135|         50|       15000.0|MICRO EMPRESA|N/A|
| 74218|   V G SILVA TECIDOS|             2135|         50|       16000.0|MICRO EMPRESA|N/A|
|116791| AGNALDO ROCHA VIANA|             2135|         50|       60000.0|MICRO EMPRESA|N/A|
|122983|      ALOISIO OCZUST|             2135|         50|       10000.0|MICRO EMPRESA|N/A|
|164903|SUPERMERCADO DALT...|             2062|         49|       10000.0|       OUTRAS|N/A|
|213573|AUSTEMP TRATAMENT...|             2062|         49|       25000.0|PEQUENO PORTE|N/A|
|214328|LUIS CARLOS DIAS ...|             2135|         50|       10000.0|       OUTRAS|N/A|
|215102|JBM COMERCIAL DE ...|             2062|         49|       30000.0|PEQUENO PORTE|N/A|
|230723|TRATTATIVA DOCUME...|             2062|         49|        8000.0|MICRO EMPRESA|N/A|
|251420|JORGE LUIZ ANDRAD...|             2135|         50|       10000.0|MICRO EMPRESA|N/A|
|292505|GRANCOR CORRETORA...|             2062|         49|        5000.0|MICRO EMPRESA|N/A|
|311683|FROM BRAZIL TRADI...|             2062|         49|       10000.0|MICRO EMPRESA|N/A|
|346063|COR DO CEU INDUST...|             2062|         49|     1000000.0|PEQUENO PORTE|N/A|
|399680|MARIANTE COMERCIO...|             2062|         49|       50000.0|       OUTRAS|N/A|
|439871|    ROMUALDO BEZERRA|             2135|         50|        1000.0|MICRO EMPRESA|N/A|
|477251|FORMS EMPREENDIME...|             2062|         49|       30000.0|MICRO EMPRESA|N/A|
|514684|BARROS & MIRANDA ...|             2062|         49|       30000.0|PEQUENO PORTE|N/A|
+------+--------------------+-----------------+-----------+--------------+-------------+---+
only showing top 20 rows

In [52]:
capitalizadas = capitalizadas.withColumnsRenamed({
    "qualificacao_responsavel":"responsavel",
    "ente_federativo":"UF"
})

In [53]:
capitalizadas.show()

+------+--------------------+-----------------+-----------+--------------+-------------+---+
|  cnpj|        razao_social|natureza_juridica|responsavel|capital_social|        porte| UF|
+------+--------------------+-----------------+-----------+--------------+-------------+---+
|  6846|BADU E FILHOS TEC...|             2062|         49|        4000.0|MICRO EMPRESA|N/A|
| 24205|SUELY LEME MARI A...|             2135|         50|        1000.0|MICRO EMPRESA|N/A|
| 58970|TOTAL CAR VEICULO...|             2062|         49|       20000.0|MICRO EMPRESA|N/A|
| 70273|VANDA DA SILVA LA...|             2135|         50|       15000.0|MICRO EMPRESA|N/A|
| 74218|   V G SILVA TECIDOS|             2135|         50|       16000.0|MICRO EMPRESA|N/A|
|116791| AGNALDO ROCHA VIANA|             2135|         50|       60000.0|MICRO EMPRESA|N/A|
|122983|      ALOISIO OCZUST|             2135|         50|       10000.0|MICRO EMPRESA|N/A|
|164903|SUPERMERCADO DALT...|             2062|         49|       10000.0|       OUTRAS|N/A|
|213573|AUSTEMP TRATAMENT...|             2062|         49|       25000.0|PEQUENO PORTE|N/A|
|214328|LUIS CARLOS DIAS ...|             2135|         50|       10000.0|       OUTRAS|N/A|
|215102|JBM COMERCIAL DE ...|             2062|         49|       30000.0|PEQUENO PORTE|N/A|
|230723|TRATTATIVA DOCUME...|             2062|         49|        8000.0|MICRO EMPRESA|N/A|
|251420|JORGE LUIZ ANDRAD...|             2135|         50|       10000.0|MICRO EMPRESA|N/A|
|292505|GRANCOR CORRETORA...|             2062|         49|        5000.0|MICRO EMPRESA|N/A|
|311683|FROM BRAZIL TRADI...|             2062|         49|       10000.0|MICRO EMPRESA|N/A|
|346063|COR DO CEU INDUST...|             2062|         49|     1000000.0|PEQUENO PORTE|N/A|
|399680|MARIANTE COMERCIO...|             2062|         49|       50000.0|       OUTRAS|N/A|
|439871|    ROMUALDO BEZERRA|             2135|         50|        1000.0|MICRO EMPRESA|N/A|
|477251|FORMS EMPREENDIME...|             2062|         49|       30000.0|MICRO EMPRESA|N/A|
|514684|BARROS & MIRANDA ...|             2062|         49|       30000.0|PEQUENO PORTE|N/A|
+------+--------------------+-----------------+-----------+--------------+-------------+---+
only showing top 20 rows

In [54]:
# Alterando e visualizando colunas
capitalizadas.withColumnsRenamed({
    "razao_social":"nome_empresa",
  "capital_social":"valor_investido"
}).show()

+------+--------------------+-----------------+-----------+---------------+-------------+---+
|  cnpj|        nome_empresa|natureza_juridica|responsavel|valor_investido|        porte| UF|
+------+--------------------+-----------------+-----------+---------------+-------------+---+
|  6846|BADU E FILHOS TEC...|             2062|         49|         4000.0|MICRO EMPRESA|N/A|
| 24205|SUELY LEME MARI A...|             2135|         50|         1000.0|MICRO EMPRESA|N/A|
| 58970|TOTAL CAR VEICULO...|             2062|         49|        20000.0|MICRO EMPRESA|N/A|
| 70273|VANDA DA SILVA LA...|             2135|         50|        15000.0|MICRO EMPRESA|N/A|
| 74218|   V G SILVA TECIDOS|             2135|         50|        16000.0|MICRO EMPRESA|N/A|
|116791| AGNALDO ROCHA VIANA|             2135|         50|        60000.0|MICRO EMPRESA|N/A|
|122983|      ALOISIO OCZUST|             2135|         50|        10000.0|MICRO EMPRESA|N/A|
|164903|SUPERMERCADO DALT...|             2062|         49|        10000.0|       OUTRAS|N/A|
|213573|AUSTEMP TRATAMENT...|             2062|         49|        25000.0|PEQUENO PORTE|N/A|
|214328|LUIS CARLOS DIAS ...|             2135|         50|        10000.0|       OUTRAS|N/A|
|215102|JBM COMERCIAL DE ...|             2062|         49|        30000.0|PEQUENO PORTE|N/A|
|230723|TRATTATIVA DOCUME...|             2062|         49|         8000.0|MICRO EMPRESA|N/A|
|251420|JORGE LUIZ ANDRAD...|             2135|         50|        10000.0|MICRO EMPRESA|N/A|
|292505|GRANCOR CORRETORA...|             2062|         49|         5000.0|MICRO EMPRESA|N/A|
|311683|FROM BRAZIL TRADI...|             2062|         49|        10000.0|MICRO EMPRESA|N/A|
|346063|COR DO CEU INDUST...|             2062|         49|      1000000.0|PEQUENO PORTE|N/A|
|399680|MARIANTE COMERCIO...|             2062|         49|        50000.0|       OUTRAS|N/A|
|439871|    ROMUALDO BEZERRA|             2135|         50|         1000.0|MICRO EMPRESA|N/A|
|477251|FORMS EMPREENDIME...|             2062|         49|        30000.0|MICRO EMPRESA|N/A|
|514684|BARROS & MIRANDA ...|             2062|         49|        30000.0|PEQUENO PORTE|N/A|
+------+--------------------+-----------------+-----------+---------------+-------------+---+
only showing top 20 rows

In [55]:
# Aplicando alteração em determinadas colunas
capitalizadas = capitalizadas.withColumnsRenamed({
    "razao_social":"nome_empresa",
    "capital_social":"valor_investido"
})

In [56]:
capitalizadas.show(50,False)

+-------+-------------------------------------------------------------------+-----------------+-----------+---------------+-------------+---+
|cnpj   |nome_empresa                                                       |natureza_juridica|responsavel|valor_investido|porte        |UF |
+-------+-------------------------------------------------------------------+-----------------+-----------+---------------+-------------+---+
|6846   |BADU E FILHOS TECIDOS LTDA                                         |2062             |49         |4000.0         |MICRO EMPRESA|N/A|
|24205  |SUELY LEME MARI ANI 25086572800                                    |2135             |50         |1000.0         |MICRO EMPRESA|N/A|
|58970  |TOTAL CAR VEICULOS LTDA                                            |2062             |49         |20000.0        |MICRO EMPRESA|N/A|
|70273  |VANDA DA SILVA LANCHONETE                                          |2135             |50         |15000.0        |MICRO EMPRESA|N/A|
|74218  |V G SILVA TECIDOS                                                  |2135             |50         |16000.0        |MICRO EMPRESA|N/A|
|116791 |AGNALDO ROCHA VIANA                                                |2135             |50         |60000.0        |MICRO EMPRESA|N/A|
|122983 |ALOISIO OCZUST                                                     |2135             |50         |10000.0        |MICRO EMPRESA|N/A|
|164903 |SUPERMERCADO DALTO LTDA                                            |2062             |49         |10000.0        |OUTRAS       |N/A|
|213573 |AUSTEMP TRATAMENTO TERMICO DE METAIS LTDA                          |2062             |49         |25000.0        |PEQUENO PORTE|N/A|
|214328 |LUIS CARLOS DIAS ALMEIDA                                           |2135             |50         |10000.0        |OUTRAS       |N/A|
|215102 |JBM COMERCIAL DE ALIMENTOS LTDA                                    |2062             |49         |30000.0        |PEQUENO PORTE|N/A|
|230723 |TRATTATIVA DOCUMENTOS LTDA                                         |2062             |49         |8000.0         |MICRO EMPRESA|N/A|
|251420 |JORGE LUIZ ANDRADE SANTOS                                          |2135             |50         |10000.0        |MICRO EMPRESA|N/A|
|292505 |GRANCOR CORRETORA DE SEGUROS E ADMINISTRADORA LTDA                 |2062             |49         |5000.0         |MICRO EMPRESA|N/A|
|311683 |FROM BRAZIL TRADING LTDA                                           |2062             |49         |10000.0        |MICRO EMPRESA|N/A|
|346063 |COR DO CEU INDUSTRIA DO VESTUARIO LTDA                             |2062             |49         |1000000.0      |PEQUENO PORTE|N/A|
|399680 |MARIANTE COMERCIO DE ALIMENTOS LTDA                                |2062             |49         |50000.0        |OUTRAS       |N/A|
|439871 |ROMUALDO BEZERRA                                                   |2135             |50         |1000.0         |MICRO EMPRESA|N/A|
|477251 |FORMS EMPREENDIMENTOS E CONSULTORIA LTDA                           |2062             |49         |30000.0        |MICRO EMPRESA|N/A|
|514684 |BARROS & MIRANDA LTDA                                              |2062             |49         |30000.0        |PEQUENO PORTE|N/A|
|550169 |FERNANDO SKAF                                                      |2135             |50         |70000.0        |PEQUENO PORTE|N/A|
|616948 |NOVA PRIMUS COMERCIO DE PECAS INDUSTRIAL LTDA                      |2062             |49         |50000.0        |MICRO EMPRESA|N/A|
|639844 |MULTI-HIDRO INDUSTRIA E COMERCIO DE TUBOS, CONEXOES E VALVULAS LTDA|2062             |49         |1.44E7         |OUTRAS       |N/A|
|648150 |PLH COMERCIO DE RACOES LTDA                                        |2062             |49         |3500.0         |MICRO EMPRESA|N/A|
|655784 |HOB & NOB COM. IMPORT. E EXPORT. LTDA                              |2062             |49         |52000.0        |PEQUENO PORTE|N/A|
|656225 |JOAO CARLOS RODRIGUES ARMARINHOS                                   |2135             |50         |20000.0        |MICRO EMPRESA|N/A|
|677535 |TRANSPORTES TRANSRAFFI LTDA                                        |2062             |49         |30000.0        |MICRO EMPRESA|N/A|
|820160 |I B ABRAMOSKI EIRELI                                               |2305             |65         |100000.0       |MICRO EMPRESA|N/A|
|849632 |NR CONTABIL LTDA                                                   |2062             |49         |5000.0         |PEQUENO PORTE|N/A|
|860872 |LUSA LOCADORA DE VEICULOS LTDA                                     |2062             |49         |100000.0       |OUTRAS       |N/A|
|892150 |INSTITUTO EDUCACIONAL FERNANDO MESQUITA DE ARAUJO LTDA             |2062             |49         |60000.0        |MICRO EMPRESA|N/A|
|894188 |ESCOLA GENTE DE FUTURO LTDA                                        |2062             |49         |5000.0         |MICRO EMPRESA|N/A|
|933924 |MOSA MARMITEX LTDA                                                 |2062             |49         |4000.0         |MICRO EMPRESA|N/A|
|952262 |CRUZEIRO & CARUBA LTDA                                             |2062             |49         |3000.0         |MICRO EMPRESA|N/A|
|957452 |PRIMEIRA ARTE PROGRAMACAO VISUAL LTDA                              |2240             |49         |3000.0         |MICRO EMPRESA|N/A|
|992392 |RUDIMAR BORGHETTI                                                  |2135             |50         |600000.0       |MICRO EMPRESA|N/A|
|1003246|ITAICY - SERVICOS MEDICOS LTDA                                     |2240             |49         |1000.0         |MICRO EMPRESA|N/A|
|1006573|HOTEL ACROPOLE LTDA                                                |2062             |49         |75000.0        |PEQUENO PORTE|N/A|
|1007445|MOO DESIGN GRAFICO LTDA                                            |2062             |49         |14000.0        |PEQUENO PORTE|N/A|
|1021488|J. FRANCISCO DE SOUZA                                              |2135             |50         |30000.0        |MICRO EMPRESA|N/A|
|1036065|JZS COMERCIO E REPRESENTACOES LTDA                                 |2062             |49         |100000.0       |MICRO EMPRESA|N/A|
|1056958|JEAN MECANICA AUTOMOTIVA LTDA                                      |2062             |49         |15000.0        |MICRO EMPRESA|N/A|
|1065229|ROSANA APARECIDA DA SILVA RAMALHO                                  |2135             |50         |40000.0        |OUTRAS       |N/A|
|1071493|IVANEIDE LOUREIRO DE SOUZA                                         |2135             |50         |15000.0        |MICRO EMPRESA|N/A|
|1081926|MANOEL DE FATIMA CUSTODIO                                          |2135             |50         |7000.0         |MICRO EMPRESA|N/A|
|1100185|JOSE PEREIRA GOMES                                                 |2135             |50         |45000.0        |MICRO EMPRESA|N/A|
|1153487|MP SERVICOS & INFORMATICA LTDA                                     |2062             |49         |1000.0         |MICRO EMPRESA|N/A|
|1156776|OLIVEIRA & SILVA DE SAO CARLOS LTDA                                |2062             |49         |1000.0         |MICRO EMPRESA|N/A|
|1174264|E&R ESTRATEGIAS E RESULTADOS LTDA                                  |2062             |49         |14723.0        |MICRO EMPRESA|N/A|
|1182354|PELZER DO BRASIL LTDA                                              |2062             |5          |1001357.0      |OUTRAS       |N/A|
+-------+-------------------------------------------------------------------+-----------------+-----------+---------------+-------------+---+
only showing top 50 rows

In [65]:
# Contabilizando empresas em Recuperação judicial
capitalizadas.where("nome_empresa like '%RECUPERACAO JUDICIAL%'").show(30, False)

+--------+--------------------------------------------------------------------------------------------+-----------------+-----------+---------------+-------------+---+
|cnpj    |nome_empresa                                                                                |natureza_juridica|responsavel|valor_investido|porte        |UF |
+--------+--------------------------------------------------------------------------------------------+-----------------+-----------+---------------+-------------+---+
|1646075 |KAEFER ADMINISTRACAO E PARTICIPACOES S/A EM RECUPERACAO JUDICIAL                            |2054             |16         |1.5E8          |OUTRAS       |N/A|
|5817537 |ROYAL QUIMICA LTDA - EM RECUPERACAO JUDICIAL                                                |2062             |64         |2.496E7        |OUTRAS       |N/A|
|33086797|ELEN CRISTIAN MORENO MENEGUETTI AGROPECUARIA EM RECUPERACAO JUDICIAL EM RECUPERACAO JUDICIAL|2135             |64         |5000.0         |OUTRAS       |N/A|
|3225984 |MAPE SA CONSTRUCOES E COMERCIO - EM RECUPERACAO JUDICIAL                                    |2054             |64         |1.1266535894E8 |OUTRAS       |N/A|
|7402393 |GOORILA E-SOLUCOES EM INTERNET LTDA - EM RECUPERACAO JUDICIAL                               |2062             |64         |1100000.0      |OUTRAS       |N/A|
|87344511|BLAVEL VEICULOS LTDA - EM RECUPERACAO JUDICIAL                                              |2062             |64         |2588380.0      |OUTRAS       |N/A|
|7894382 |HDDREP NEGOCIOS E SERVICOS LTDA EM RECUPERACAO JUDICIAL                                     |2062             |64         |20000.0        |PEQUENO PORTE|N/A|
|9216022 |AGS LOCACAO DE MAQUINAS E EQUIPAMENTOS EIRELI - EM RECUPERACAO JUDICIAL                     |2305             |64         |6000000.0      |OUTRAS       |N/A|
|10869558|BILHARES GAIVOTAS EIRELI EM RECUPERACAO JUDICIAL                                            |2305             |64         |100000.0       |MICRO EMPRESA|N/A|
|11814800|COMPACTO PARTICIPACOES S.A. - EM RECUPERACAO JUDICIAL                                       |2054             |64         |10000.0        |OUTRAS       |N/A|
|14633118|SP 47 EMPREENDIMENTOS IMOBILIARIOS LTDA - EM RECUPERACAO JUDICIAL                           |2062             |64         |100.0          |OUTRAS       |N/A|
|19502435|CENTRAIS EOLICAS PUTUMUJU S.A EM RECUPERACAO JUDICIAL                                       |2054             |64         |1.042112148E7  |OUTRAS       |N/A|
|4144959 |TOSI COMERCIO E SERVICOS LTDA EM RECUPERACAO JUDICIAL                                       |2062             |64         |1.2E7          |OUTRAS       |N/A|
|13300818|EIT ENGENHARIA S A EM RECUPERACAO JUDICIAL                                                  |2054             |64         |6.4768052E7    |OUTRAS       |N/A|
|44384832|TOME EQUIPAMENTOS E TRANSPORTES LTDA EM RECUPERACAO JUDICIAL                                |2062             |64         |8.7682221E7    |OUTRAS       |N/A|
|8842690 |ATVOS AGROINDUSTRIAL PARTICIPACOES S.A. - EM RECUPERACAO JUDICIAL                           |2054             |64         |8.19789190757E9|OUTRAS       |N/A|
|17765861|ARAPAR - PARTICIPACOES E ADMINISTRACAO LTDA EM RECUPERACAO JUDICIAL                         |2062             |64         |6107925.0      |OUTRAS       |N/A|
|57830390|ITAJARA COMERCIO DE CARNES LTDA - EM RECUPERACAO JUDICIAL                                   |2062             |64         |7000.0         |OUTRAS       |N/A|
|82956889|INPLAC INDUSTRIA DE PLASTICOS S.A - EM RECUPERACAO JUDICIAL                                 |2054             |64         |1.3595917E7    |OUTRAS       |N/A|
|5196932 |TV MAR LTDA - EM RECUPERACAO JUDICIAL                                                       |2062             |64         |15000.0        |MICRO EMPRESA|N/A|
|84431154|MENEGOTTI INDUSTRIAS METALURGICAS LTDA EM RECUPERACAO JUDICIAL                              |2062             |64         |4713480.0      |OUTRAS       |N/A|
|11480339|DURAPARTS COMERCIAL, IMPORTACAO E EXPORTACAO LTDA EM RECUPERACAO JUDICIAL                   |2062             |64         |1250000.0      |OUTRAS       |N/A|
|53684965|B V S PRODUTOS PLASTICOS LTDA EM RECUPERACAO JUDICIAL                                       |2062             |64         |2.0E7          |OUTRAS       |N/A|
|82971169|VOLANI METAIS INDUSTRIA E COMERCIO LTDA EM RECUPERACAO JUDICIAL                             |2062             |64         |1500000.0      |OUTRAS       |N/A|
|65203143|BRINKEL-BRINQUEDOS E ELETRO LTDA - EM RECUPERACAO JUDICIAL                                  |2062             |49         |129000.0       |PEQUENO PORTE|N/A|
|7138195 |ECO LIFE BUTANTA EMPREENDIMENTOS IMOBILIARIOS S/A - EM RECUPERACAO JUDICIAL                 |2054             |10         |4100001.0      |OUTRAS       |N/A|
|47348180|CONIPOST POSTES METLICOS E ACESSRIOS LTDA EM RECUPERACAO JUDICIAL                           |2062             |64         |2846000.0      |OUTRAS       |N/A|
|17429010|CONSTRUTORA LIDER LTDA EM RECUPERACAO JUDICIAL                                              |2062             |64         |8.95868E7      |OUTRAS       |N/A|
|30293313|LAVOURA OESTE PARTICIPACOES S.A. EM RECUPERACAO JUDICIAL                                    |2054             |10         |1.1204367E7    |OUTRAS       |N/A|
|38625489|TECNOMETAL ENGENHARIA E CONSTRUCOES MECANICAS LTDA - EM RECUPERACAO JUDICIAL                |2062             |64         |7830597.0      |OUTRAS       |N/A|
+--------+--------------------------------------------------------------------------------------------+-----------------+-----------+---------------+-------------+---+
only showing top 30 rows

In [58]:
#Filtrando empresas com valor investido entre R$500.000,00 e
# R$1.000.000,00
capitalizadas.where("valor_investido > 500000 AND valor_investido <= 1000000")\
.show()

+-------+--------------------+-----------------+-----------+---------------+-------------+---+
|   cnpj|        nome_empresa|natureza_juridica|responsavel|valor_investido|        porte| UF|
+-------+--------------------+-----------------+-----------+---------------+-------------+---+
| 346063|COR DO CEU INDUST...|             2062|         49|      1000000.0|PEQUENO PORTE|N/A|
| 992392|   RUDIMAR BORGHETTI|             2135|         50|       600000.0|MICRO EMPRESA|N/A|
|1355433|PREV INVEST CONST...|             2305|         65|      1000000.0|MICRO EMPRESA|N/A|
|2315381|EXATAS INCORPORAD...|             2062|         49|       800000.0|PEQUENO PORTE|N/A|
|3328068|ARLI ANTONIO BERG...|             2062|         49|       530000.0|MICRO EMPRESA|N/A|
|3383910|SUCUARANA FLOREST...|             2062|         49|       650000.0|PEQUENO PORTE|N/A|
|4300654|R R CONSTRUCOES E...|             2062|         49|       600000.0|PEQUENO PORTE|N/A|
|4877029| UBX ENTERPRISE LTDA|             2062|          5|      1000000.0|       OUTRAS|N/A|
|5015861|RCA COMPANY DE TE...|             2062|          5|      1000000.0|       OUTRAS|N/A|
|5638004|INCOMOL COMERCIO ...|             2062|         49|       600000.0|PEQUENO PORTE|N/A|
|5966524|SINTRA - SERVICOS...|             2305|         65|       650000.0|       OUTRAS|N/A|
|6192781|INDUSTRIA E COMER...|             2062|         49|      1000000.0|       OUTRAS|N/A|
|6341645|LEME EMPREENDIMEN...|             2062|         49|       700000.0|MICRO EMPRESA|N/A|
|6987147|RIBEIRO CASTRO CO...|             2062|         49|       850000.0|       OUTRAS|N/A|
|8078638|    RM SERVICOS LTDA|             2062|         49|      1000000.0|PEQUENO PORTE|N/A|
|8285146|WN EMPREENDIMENTO...|             2062|         49|       854000.0|PEQUENO PORTE|N/A|
|8397742|Z S BRASIL TRANSP...|             2135|         50|       800000.0|MICRO EMPRESA|N/A|
|8429906|TECWORK TELEINFOR...|             2062|         49|      1000000.0|       OUTRAS|N/A|
|8611656| FRIGORIFICO RS LTDA|             2062|         49|       800000.0|PEQUENO PORTE|N/A|
|8669048|L & C EMPREENDIME...|             2062|         49|       600000.0|MICRO EMPRESA|N/A|
+-------+--------------------+-----------------+-----------+---------------+-------------+---+
only showing top 20 rows

In [59]:
# Criando dataframe de empresas com valor investido entre R$500.000,00 e
# R$1.000.000,00
alto_valor = capitalizadas.where("valor_investido > 500000 and valor_investido <= 1000000")

In [60]:
alto_valor.show()

+-------+--------------------+-----------------+-----------+---------------+-------------+---+
|   cnpj|        nome_empresa|natureza_juridica|responsavel|valor_investido|        porte| UF|
+-------+--------------------+-----------------+-----------+---------------+-------------+---+
| 346063|COR DO CEU INDUST...|             2062|         49|      1000000.0|PEQUENO PORTE|N/A|
| 992392|   RUDIMAR BORGHETTI|             2135|         50|       600000.0|MICRO EMPRESA|N/A|
|1355433|PREV INVEST CONST...|             2305|         65|      1000000.0|MICRO EMPRESA|N/A|
|2315381|EXATAS INCORPORAD...|             2062|         49|       800000.0|PEQUENO PORTE|N/A|
|3328068|ARLI ANTONIO BERG...|             2062|         49|       530000.0|MICRO EMPRESA|N/A|
|3383910|SUCUARANA FLOREST...|             2062|         49|       650000.0|PEQUENO PORTE|N/A|
|4300654|R R CONSTRUCOES E...|             2062|         49|       600000.0|PEQUENO PORTE|N/A|
|4877029| UBX ENTERPRISE LTDA|             2062|          5|      1000000.0|       OUTRAS|N/A|
|5015861|RCA COMPANY DE TE...|             2062|          5|      1000000.0|       OUTRAS|N/A|
|5638004|INCOMOL COMERCIO ...|             2062|         49|       600000.0|PEQUENO PORTE|N/A|
|5966524|SINTRA - SERVICOS...|             2305|         65|       650000.0|       OUTRAS|N/A|
|6192781|INDUSTRIA E COMER...|             2062|         49|      1000000.0|       OUTRAS|N/A|
|6341645|LEME EMPREENDIMEN...|             2062|         49|       700000.0|MICRO EMPRESA|N/A|
|6987147|RIBEIRO CASTRO CO...|             2062|         49|       850000.0|       OUTRAS|N/A|
|8078638|    RM SERVICOS LTDA|             2062|         49|      1000000.0|PEQUENO PORTE|N/A|
|8285146|WN EMPREENDIMENTO...|             2062|         49|       854000.0|PEQUENO PORTE|N/A|
|8397742|Z S BRASIL TRANSP...|             2135|         50|       800000.0|MICRO EMPRESA|N/A|
|8429906|TECWORK TELEINFOR...|             2062|         49|      1000000.0|       OUTRAS|N/A|
|8611656| FRIGORIFICO RS LTDA|             2062|         49|       800000.0|PEQUENO PORTE|N/A|
|8669048|L & C EMPREENDIME...|             2062|         49|       600000.0|MICRO EMPRESA|N/A|
+-------+--------------------+-----------------+-----------+---------------+-------------+---+
only showing top 20 rows

In [61]:
# Criando filtro empresas de pequeno porte com investimento maior que R$500.000,00
capitalizadas.where("valor_investido > 500000 and porte like 'PEQUENO PORTE'").show()

+--------+--------------------+-----------------+-----------+---------------+-------------+---+
|    cnpj|        nome_empresa|natureza_juridica|responsavel|valor_investido|        porte| UF|
+--------+--------------------+-----------------+-----------+---------------+-------------+---+
|  346063|COR DO CEU INDUST...|             2062|         49|      1000000.0|PEQUENO PORTE|N/A|
| 1766239|M COELHO DOS SANT...|             2062|         49|      6000000.0|PEQUENO PORTE|N/A|
| 2315381|EXATAS INCORPORAD...|             2062|         49|       800000.0|PEQUENO PORTE|N/A|
| 3383910|SUCUARANA FLOREST...|             2062|         49|       650000.0|PEQUENO PORTE|N/A|
| 4169221|C S I CONSTRUTORA...|             2062|         49|      6200000.0|PEQUENO PORTE|N/A|
| 4196988|PORTAL EMPREENDIM...|             2062|         49|      1548000.0|PEQUENO PORTE|N/A|
| 4300654|R R CONSTRUCOES E...|             2062|         49|       600000.0|PEQUENO PORTE|N/A|
| 4404297|AGROPART - IMOBIL...|             2062|         49|      3515536.0|PEQUENO PORTE|N/A|
| 4611543|PHOENIX CONSULTOR...|             2062|         49|      2500000.0|PEQUENO PORTE|N/A|
| 4722257|CONSTRUTORA E EMP...|             2305|         65|      1300000.0|PEQUENO PORTE|N/A|
| 5064705|FARUG ADMINISTRAC...|             2062|         49|      2000000.0|PEQUENO PORTE|N/A|
| 5638004|INCOMOL COMERCIO ...|             2062|         49|       600000.0|PEQUENO PORTE|N/A|
| 6352117|REBOUCAS E CIA LTDA.|             2062|         49|2.9202702116E10|PEQUENO PORTE|N/A|
| 7351538|GARDEN CONSULTORI...|             2062|         49|      1060000.0|PEQUENO PORTE|N/A|
| 8078638|    RM SERVICOS LTDA|             2062|         49|      1000000.0|PEQUENO PORTE|N/A|
| 8285146|WN EMPREENDIMENTO...|             2062|         49|       854000.0|PEQUENO PORTE|N/A|
| 8611656| FRIGORIFICO RS LTDA|             2062|         49|       800000.0|PEQUENO PORTE|N/A|
| 8743939|CONSTRUTORA DAMAS...|             2305|         65|      1410000.0|PEQUENO PORTE|N/A|
| 9395941|AMANDINA COMERCIO...|             2062|         49|      2000000.0|PEQUENO PORTE|N/A|
|12152574|MB EMPREENDIMENTO...|             2062|         49|      1040000.0|PEQUENO PORTE|N/A|
+--------+--------------------+-----------------+-----------+---------------+-------------+---+
only showing top 20 rows

In [62]:
# Criando dataframe de empresas de pequeno porte com investimento superior à
# R$500.000,00
pp_alto_valor = capitalizadas.where("valor_investido > 500000 and porte like 'PEQUENO PORTE'")

In [63]:
# Visualizando novo Data Frame ordenando por valor investido:
pp_alto_valor.orderBy("valor_investido").toPandas()

,cnpj,nome_empresa,natureza_juridica,responsavel,valor_investido,porte,UF
0,4853219,PREMIUM OPERADOR LOGISTICO LTDA,2062,49,5.000020e+05,PEQUENO PORTE,N/A
1,33704783,PETROCENTER REPRESENTACAO COMERCIAL DE RESIDU...,2062,49,5.001000e+05,PEQUENO PORTE,N/A
2,83298216,POSMOVIL-POSTO DE MOLAS VIVIAN LTDA,2062,49,5.010000e+05,PEQUENO PORTE,N/A
3,86708609,DIGEM DIAGNOSTICO POR IMAGEM LTDA,2062,49,5.010000e+05,PEQUENO PORTE,N/A
4,886621,HOTEL SAO BRAZ EIRELI,2305,65,5.010000e+05,PEQUENO PORTE,N/A
...,...,...,...,...,...,...,...
5216,20355297,DIAS DEFENSE SEGURANCA PATRIMONIAL LTDA.,2062,49,1.000000e+08,PEQUENO PORTE,N/A
5217,15250211,MINERACAO INTERNACIONAL LTDA,2062,49,1.000000e+08,PEQUENO PORTE,N/A
5218,31107871,ERVA DOCE AGRONEGOCIOS LTDA,2062,49,1.300000e+08,PEQUENO PORTE,N/A
5219,6352117,REBOUCAS E CIA LTDA.,2062,49,2.920270e+10,PEQUENO PORTE,N/A
5220,331465,INCOMPLAST INDUSTRIA DE EMBALAGENS PLASTICAS LTDA,2062,49,2.520061e+11,PEQUENO PORTE,N/A