<a href="https://colab.research.google.com/github/hugopoggi/pyspark_senai/blob/main/spark_24_n2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [67]:
# 31/07/2024
# Criando ambiente Spark

# Instalando biblioteca pyspark
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [68]:
# Importando funções e criando o objeto spark:
from pyspark.sql import SparkSession as ss
from pyspark.sql import functions as f
# Importando função para converter dados
from pyspark.sql.types import DoubleType

In [69]:
spark = ss.builder.appName("SENAI").getOrCreate()

In [70]:
spark

In [71]:
# Criando um data frame manualmente
dados = [
    ("joao", "analista", 5000),
    ("isabela", "analista", 5280),
    ("julia", "assistente", 2800),
    ("kleber", "auxiliar", 2200)
]

In [72]:
colunas = ["func", "cargo", "salario"]

In [73]:
# Criando Data Frame (estrutura de linhas x colunas):
df = spark.createDataFrame(dados, colunas)

In [74]:
# Explorando Data Frame:
# Verificando nome das colunas e seus tipos:
df.printSchema()

root
 |-- func: string (nullable = true)
 |-- cargo: string (nullable = true)
 |-- salario: long (nullable = true)

In [75]:
# Exibindo dados do data frame.
df.show()

+-------+----------+-------+
|   func|     cargo|salario|
+-------+----------+-------+
|   joao|  analista|   5000|
|isabela|  analista|   5280|
|  julia|assistente|   2800|
| kleber|  auxiliar|   2200|
+-------+----------+-------+

In [76]:
df.toPandas()

      func       cargo  salario
0     joao    analista     5000
1  isabela    analista     5280
2    julia  assistente     2800
3   kleber    auxiliar     2200

In [77]:
# Unindo dois DataFrames
dados2 = [
    ("ana", "auxiliar", 2490),
    ("rogerio", "auxiliar", 9800),
    ("roberto", "diretor", 32000)
]

In [78]:
df2 = spark.createDataFrame(dados2, colunas)

In [79]:
# Unindo data frames:
df_total = df.union(df2)

In [80]:
df_total.show()

+-------+----------+-------+
|   func|     cargo|salario|
+-------+----------+-------+
|   joao|  analista|   5000|
|isabela|  analista|   5280|
|  julia|assistente|   2800|
| kleber|  auxiliar|   2200|
|    ana|  auxiliar|   2490|
|rogerio|  auxiliar|   9800|
|roberto|   diretor|  32000|
+-------+----------+-------+

In [81]:
df = df_total

In [82]:
df.show()

+-------+----------+-------+
|   func|     cargo|salario|
+-------+----------+-------+
|   joao|  analista|   5000|
|isabela|  analista|   5280|
|  julia|assistente|   2800|
| kleber|  auxiliar|   2200|
|    ana|  auxiliar|   2490|
|rogerio|  auxiliar|   9800|
|roberto|   diretor|  32000|
+-------+----------+-------+

In [83]:
df.toPandas()

      func       cargo  salario
0     joao    analista     5000
1  isabela    analista     5280
2    julia  assistente     2800
3   kleber    auxiliar     2200
4      ana    auxiliar     2490
5  rogerio    auxiliar     9800
6  roberto     diretor    32000

In [84]:
# Filtrando valores:
# Motrar somente 'analistas' do DataFrame:
df.where('cargo =="analista"').show()

+-------+--------+-------+
|   func|   cargo|salario|
+-------+--------+-------+
|   joao|analista|   5000|
|isabela|analista|   5280|
+-------+--------+-------+

In [85]:
 # Filtrando valores:
# Motrar somente 'analistas' que ganham mais de 5000 do DataFrame:
df.where('cargo =="analista" and salario > 5000').show()

+-------+--------+-------+
|   func|   cargo|salario|
+-------+--------+-------+
|isabela|analista|   5280|
+-------+--------+-------+

In [86]:
df.show()

+-------+----------+-------+
|   func|     cargo|salario|
+-------+----------+-------+
|   joao|  analista|   5000|
|isabela|  analista|   5280|
|  julia|assistente|   2800|
| kleber|  auxiliar|   2200|
|    ana|  auxiliar|   2490|
|rogerio|  auxiliar|   9800|
|roberto|   diretor|  32000|
+-------+----------+-------+

In [87]:
# Criando ou alterando(mesmo nome altera valor da msm colula nome
# diferente cria coluna nova) novas colunas no pyspark:
# Visualizando alteração:
df.withColumn("novo_salario", df.salario * 1.07).show()

+-------+----------+-------+------------+
|   func|     cargo|salario|novo_salario|
+-------+----------+-------+------------+
|   joao|  analista|   5000|      5350.0|
|isabela|  analista|   5280|      5649.6|
|  julia|assistente|   2800|      2996.0|
| kleber|  auxiliar|   2200|      2354.0|
|    ana|  auxiliar|   2490|      2664.3|
|rogerio|  auxiliar|   9800|     10486.0|
|roberto|   diretor|  32000|     34240.0|
+-------+----------+-------+------------+

In [88]:
# Efetivando alteração no data frame
df = df.withColumn("novo_salario", df.salario * 1.07)

In [89]:
df.show()

+-------+----------+-------+------------+
|   func|     cargo|salario|novo_salario|
+-------+----------+-------+------------+
|   joao|  analista|   5000|      5350.0|
|isabela|  analista|   5280|      5649.6|
|  julia|assistente|   2800|      2996.0|
| kleber|  auxiliar|   2200|      2354.0|
|    ana|  auxiliar|   2490|      2664.3|
|rogerio|  auxiliar|   9800|     10486.0|
|roberto|   diretor|  32000|     34240.0|
+-------+----------+-------+------------+

In [90]:
# Criando DataFrame via importação de dados / arquivos:
url = "/content/drive/MyDrive/BasesSpark/empresas/part*"

empresas = spark.read.csv(
    url,
    sep= ";",
    header= True,
    # InferSchema "tenta" entender o tipo de dado e trazer em seu formato
    inferSchema= True
)

In [91]:
# Numero de linhas e trunca os dados falsos
empresas.show(20, False)

+-----+--------------------------------------------------------------------------------------------+-----------------+------------------------+--------------+-----+---------------+
|cnpj |razao_social                                                                                |natureza_juridica|qualificacao_responsavel|capital_social|porte|ente_federativo|
+-----+--------------------------------------------------------------------------------------------+-----------------+------------------------+--------------+-----+---------------+
|306  |FRANCAMAR REFRIGERACAO TECNICA S/C LTDA                                                     |2240             |49                      |0,00          |1    |NULL           |
|1355 |BRASILEIRO & OLIVEIRA LTDA                                                                  |2062             |49                      |0,00          |5    |NULL           |
|4820 |REGISTRO DE IMOVEIS, TABELIONATO 1 DE NOTAS E TABELIONATO E REGISTRO DE CONSTRATOS MARITIMOS|3034             |32                      |0,00          |5    |NULL           |
|5347 |ROSELY APARECIDA MONTEIRO CALTABIANO FREITAS                                                |2135             |50                      |0,00          |5    |NULL           |
|6846 |BADU E FILHOS TECIDOS LTDA                                                                  |2062             |49                      |4000,00       |1    |NULL           |
|8416 |ELETRICA RUBI LTDA                                                                          |2062             |49                      |0,00          |5    |NULL           |
|8992 |SHIROMA VEICULOS LTDA.                                                                      |2062             |49                      |0,00          |5    |NULL           |
|9091 |CONTATOS BAR E LANCHONETE LTDA                                                              |2062             |49                      |0,00          |5    |NULL           |
|9614 |ANTONIA APARECIDA DE SOUZA ULIANA                                                           |2135             |50                      |0,00          |5    |NULL           |
|9896 |DORACY CORAT DA COSTA                                                                       |2135             |50                      |0,00          |5    |NULL           |
|12112|LANCHONETE RIO VERMELHO LTDA                                                                |2062             |49                      |0,00          |5    |NULL           |
|12605|VALMAR JACAREI COMERCIO DE PRODUTOS ALIMENTIC LTDA                                          |2062             |49                      |0,00          |5    |NULL           |
|13407|ROSANA CRISTINA DUARTE RODRIGUES SERRALHERIA                                                |2135             |50                      |0,00          |5    |NULL           |
|13408|CELIO RODRIGUES DE MORAES DEPOSITO DE BANANAS                                               |2135             |50                      |0,00          |5    |NULL           |
|13721|MAQFRAN COMERCIO DE PECAS LTDA                                                              |2062             |49                      |0,00          |1    |NULL           |
|21181|MOURA & SILVA MERCEARIA LIMITADA                                                            |2062             |49                      |0,00          |5    |NULL           |
|21858|PAMARATI COMERCIO DE RACOES LTDA                                                            |2135             |50                      |0,00          |1    |NULL           |
|22277|INACIO RODRIGUES DO NASCIMENTO                                                              |2135             |50                      |0,00          |5    |NULL           |
|24205|SUELY LEME MARI ANI 25086572800                                                             |2135             |50                      |1000,00       |1    |NULL           |
|26805|SUELI BATISTA DA COSTA SILVA                                                                |2135             |50                      |0,00          |5    |NULL           |
+-----+--------------------------------------------------------------------------------------------+-----------------+------------------------+--------------+-----+---------------+
only showing top 20 rows

In [92]:
# Verificando quantos registros tem no dataframe:
empresas.count()

4585679

In [93]:
empresas.printSchema()

root
 |-- cnpj: integer (nullable = true)
 |-- razao_social: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_responsavel: integer (nullable = true)
 |-- capital_social: string (nullable = true)
 |-- porte: integer (nullable = true)
 |-- ente_federativo: string (nullable = true)

In [94]:
# Convertendo uma coluna de string para decimal:
# Antes de converter precisamos substituir a virgula pelo ponto.

empresas.withColumn("capital_social", f.regexp_replace("capital_social", ",", ".")).show()

+-----+--------------------+-----------------+------------------------+--------------+-----+---------------+
| cnpj|        razao_social|natureza_juridica|qualificacao_responsavel|capital_social|porte|ente_federativo|
+-----+--------------------+-----------------+------------------------+--------------+-----+---------------+
|  306|FRANCAMAR REFRIGE...|             2240|                      49|          0.00|    1|           NULL|
| 1355|BRASILEIRO & OLIV...|             2062|                      49|          0.00|    5|           NULL|
| 4820|REGISTRO DE IMOVE...|             3034|                      32|          0.00|    5|           NULL|
| 5347|ROSELY APARECIDA ...|             2135|                      50|          0.00|    5|           NULL|
| 6846|BADU E FILHOS TEC...|             2062|                      49|       4000.00|    1|           NULL|
| 8416|  ELETRICA RUBI LTDA|             2062|                      49|          0.00|    5|           NULL|
| 8992|SHIROMA VEICULOS ...|             2062|                      49|          0.00|    5|           NULL|
| 9091|CONTATOS BAR E LA...|             2062|                      49|          0.00|    5|           NULL|
| 9614|ANTONIA APARECIDA...|             2135|                      50|          0.00|    5|           NULL|
| 9896|DORACY CORAT DA C...|             2135|                      50|          0.00|    5|           NULL|
|12112|LANCHONETE RIO VE...|             2062|                      49|          0.00|    5|           NULL|
|12605|VALMAR JACAREI CO...|             2062|                      49|          0.00|    5|           NULL|
|13407|ROSANA CRISTINA D...|             2135|                      50|          0.00|    5|           NULL|
|13408|CELIO RODRIGUES D...|             2135|                      50|          0.00|    5|           NULL|
|13721|MAQFRAN COMERCIO ...|             2062|                      49|          0.00|    1|           NULL|
|21181|MOURA & SILVA MER...|             2062|                      49|          0.00|    5|           NULL|
|21858|PAMARATI COMERCIO...|             2135|                      50|          0.00|    1|           NULL|
|22277|INACIO RODRIGUES ...|             2135|                      50|          0.00|    5|           NULL|
|24205|SUELY LEME MARI A...|             2135|                      50|       1000.00|    1|           NULL|
|26805|SUELI BATISTA DA ...|             2135|                      50|          0.00|    5|           NULL|
+-----+--------------------+-----------------+------------------------+--------------+-----+---------------+
only showing top 20 rows

In [95]:
empresas = empresas.withColumn("capital_social", f.regexp_replace("capital_social", ",", "."))

In [96]:
empresas.show()

+-----+--------------------+-----------------+------------------------+--------------+-----+---------------+
| cnpj|        razao_social|natureza_juridica|qualificacao_responsavel|capital_social|porte|ente_federativo|
+-----+--------------------+-----------------+------------------------+--------------+-----+---------------+
|  306|FRANCAMAR REFRIGE...|             2240|                      49|          0.00|    1|           NULL|
| 1355|BRASILEIRO & OLIV...|             2062|                      49|          0.00|    5|           NULL|
| 4820|REGISTRO DE IMOVE...|             3034|                      32|          0.00|    5|           NULL|
| 5347|ROSELY APARECIDA ...|             2135|                      50|          0.00|    5|           NULL|
| 6846|BADU E FILHOS TEC...|             2062|                      49|       4000.00|    1|           NULL|
| 8416|  ELETRICA RUBI LTDA|             2062|                      49|          0.00|    5|           NULL|
| 8992|SHIROMA VEICULOS ...|             2062|                      49|          0.00|    5|           NULL|
| 9091|CONTATOS BAR E LA...|             2062|                      49|          0.00|    5|           NULL|
| 9614|ANTONIA APARECIDA...|             2135|                      50|          0.00|    5|           NULL|
| 9896|DORACY CORAT DA C...|             2135|                      50|          0.00|    5|           NULL|
|12112|LANCHONETE RIO VE...|             2062|                      49|          0.00|    5|           NULL|
|12605|VALMAR JACAREI CO...|             2062|                      49|          0.00|    5|           NULL|
|13407|ROSANA CRISTINA D...|             2135|                      50|          0.00|    5|           NULL|
|13408|CELIO RODRIGUES D...|             2135|                      50|          0.00|    5|           NULL|
|13721|MAQFRAN COMERCIO ...|             2062|                      49|          0.00|    1|           NULL|
|21181|MOURA & SILVA MER...|             2062|                      49|          0.00|    5|           NULL|
|21858|PAMARATI COMERCIO...|             2135|                      50|          0.00|    1|           NULL|
|22277|INACIO RODRIGUES ...|             2135|                      50|          0.00|    5|           NULL|
|24205|SUELY LEME MARI A...|             2135|                      50|       1000.00|    1|           NULL|
|26805|SUELI BATISTA DA ...|             2135|                      50|          0.00|    5|           NULL|
+-----+--------------------+-----------------+------------------------+--------------+-----+---------------+
only showing top 20 rows

In [97]:
# Convertendo a coluna "capital_social" para float (DoubleType):
empresas.withColumn("capital_social",
                    empresas.capital_social.cast(DoubleType())
                    ).show()

+-----+--------------------+-----------------+------------------------+--------------+-----+---------------+
| cnpj|        razao_social|natureza_juridica|qualificacao_responsavel|capital_social|porte|ente_federativo|
+-----+--------------------+-----------------+------------------------+--------------+-----+---------------+
|  306|FRANCAMAR REFRIGE...|             2240|                      49|           0.0|    1|           NULL|
| 1355|BRASILEIRO & OLIV...|             2062|                      49|           0.0|    5|           NULL|
| 4820|REGISTRO DE IMOVE...|             3034|                      32|           0.0|    5|           NULL|
| 5347|ROSELY APARECIDA ...|             2135|                      50|           0.0|    5|           NULL|
| 6846|BADU E FILHOS TEC...|             2062|                      49|        4000.0|    1|           NULL|
| 8416|  ELETRICA RUBI LTDA|             2062|                      49|           0.0|    5|           NULL|
| 8992|SHIROMA VEICULOS ...|             2062|                      49|           0.0|    5|           NULL|
| 9091|CONTATOS BAR E LA...|             2062|                      49|           0.0|    5|           NULL|
| 9614|ANTONIA APARECIDA...|             2135|                      50|           0.0|    5|           NULL|
| 9896|DORACY CORAT DA C...|             2135|                      50|           0.0|    5|           NULL|
|12112|LANCHONETE RIO VE...|             2062|                      49|           0.0|    5|           NULL|
|12605|VALMAR JACAREI CO...|             2062|                      49|           0.0|    5|           NULL|
|13407|ROSANA CRISTINA D...|             2135|                      50|           0.0|    5|           NULL|
|13408|CELIO RODRIGUES D...|             2135|                      50|           0.0|    5|           NULL|
|13721|MAQFRAN COMERCIO ...|             2062|                      49|           0.0|    1|           NULL|
|21181|MOURA & SILVA MER...|             2062|                      49|           0.0|    5|           NULL|
|21858|PAMARATI COMERCIO...|             2135|                      50|           0.0|    1|           NULL|
|22277|INACIO RODRIGUES ...|             2135|                      50|           0.0|    5|           NULL|
|24205|SUELY LEME MARI A...|             2135|                      50|        1000.0|    1|           NULL|
|26805|SUELI BATISTA DA ...|             2135|                      50|           0.0|    5|           NULL|
+-----+--------------------+-----------------+------------------------+--------------+-----+---------------+
only showing top 20 rows

In [98]:
empresas = empresas.withColumn("capital_social",
                    empresas.capital_social.cast(DoubleType())
                    )

In [99]:
empresas.show()

+-----+--------------------+-----------------+------------------------+--------------+-----+---------------+
| cnpj|        razao_social|natureza_juridica|qualificacao_responsavel|capital_social|porte|ente_federativo|
+-----+--------------------+-----------------+------------------------+--------------+-----+---------------+
|  306|FRANCAMAR REFRIGE...|             2240|                      49|           0.0|    1|           NULL|
| 1355|BRASILEIRO & OLIV...|             2062|                      49|           0.0|    5|           NULL|
| 4820|REGISTRO DE IMOVE...|             3034|                      32|           0.0|    5|           NULL|
| 5347|ROSELY APARECIDA ...|             2135|                      50|           0.0|    5|           NULL|
| 6846|BADU E FILHOS TEC...|             2062|                      49|        4000.0|    1|           NULL|
| 8416|  ELETRICA RUBI LTDA|             2062|                      49|           0.0|    5|           NULL|
| 8992|SHIROMA VEICULOS ...|             2062|                      49|           0.0|    5|           NULL|
| 9091|CONTATOS BAR E LA...|             2062|                      49|           0.0|    5|           NULL|
| 9614|ANTONIA APARECIDA...|             2135|                      50|           0.0|    5|           NULL|
| 9896|DORACY CORAT DA C...|             2135|                      50|           0.0|    5|           NULL|
|12112|LANCHONETE RIO VE...|             2062|                      49|           0.0|    5|           NULL|
|12605|VALMAR JACAREI CO...|             2062|                      49|           0.0|    5|           NULL|
|13407|ROSANA CRISTINA D...|             2135|                      50|           0.0|    5|           NULL|
|13408|CELIO RODRIGUES D...|             2135|                      50|           0.0|    5|           NULL|
|13721|MAQFRAN COMERCIO ...|             2062|                      49|           0.0|    1|           NULL|
|21181|MOURA & SILVA MER...|             2062|                      49|           0.0|    5|           NULL|
|21858|PAMARATI COMERCIO...|             2135|                      50|           0.0|    1|           NULL|
|22277|INACIO RODRIGUES ...|             2135|                      50|           0.0|    5|           NULL|
|24205|SUELY LEME MARI A...|             2135|                      50|        1000.0|    1|           NULL|
|26805|SUELI BATISTA DA ...|             2135|                      50|           0.0|    5|           NULL|
+-----+--------------------+-----------------+------------------------+--------------+-----+---------------+
only showing top 20 rows

In [100]:
empresas.printSchema()

root
 |-- cnpj: integer (nullable = true)
 |-- razao_social: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_responsavel: integer (nullable = true)
 |-- capital_social: double (nullable = true)
 |-- porte: integer (nullable = true)
 |-- ente_federativo: string (nullable = true)

In [101]:
empresas.limit(30).toPandas()

,cnpj,razao_social,natureza_juridica,qualificacao_responsavel,capital_social,porte,ente_federativo
0,306,FRANCAMAR REFRIGERACAO TECNICA S/C LTDA,2240,49,0.0,1,None
1,1355,BRASILEIRO & OLIVEIRA LTDA,2062,49,0.0,5,None
2,4820,"REGISTRO DE IMOVEIS, TABELIONATO 1 DE NOTAS E ...",3034,32,0.0,5,None
3,5347,ROSELY APARECIDA MONTEIRO CALTABIANO FREITAS,2135,50,0.0,5,None
4,6846,BADU E FILHOS TECIDOS LTDA,2062,49,4000.0,1,None
5,8416,ELETRICA RUBI LTDA,2062,49,0.0,5,None
6,8992,SHIROMA VEICULOS LTDA.,2062,49,0.0,5,None
7,9091,CONTATOS BAR E LANCHONETE LTDA,2062,49,0.0,5,None
8,9614,ANTONIA APARECIDA DE SOUZA ULIANA,2135,50,0.0,5,None
9,9896,DORACY CORAT DA COSTA,2135,50,0.0,5,None
10,12112,LANCHONETE RIO VERMELHO LTDA,2062,49,0.0,5,None
11,12605,VALMAR JACAREI COMERCIO DE PRODUTOS ALIMENTIC ...,2062,49,0.0,5,None
12,13407,ROSANA CRISTINA DUARTE RODRIGUES SERRALHERIA,2135,50,0.0,5,None
13,13408,CELIO RODRIGUES DE MORAES DEPOSITO DE BANANAS,2135,50,0.0,5,None
14,13721,MAQFRAN COMERCIO DE PECAS LTDA,2062,49,0.0,1,None
15,21181,MOURA & SILVA MERCEARIA LIMITADA,2062,49,0.0,5,None
16,21858,PAMARATI COMERCIO DE RACOES LTDA,2135,50,0.0,1,None
17,22277,INACIO RODRIGUES DO NASCIMENTO,2135,50,0.0,5,None
18,24205,SUELY LEME MARI ANI 25086572800,2135,50,1000.0,1,None
19,26805,SUELI BATISTA DA COSTA SILVA,2135,50,0.0,5,None
20,28991,CAKE DESIGN CONFEITARIA INDUSTRIA E COMERCIO LTDA,2062,49,0.0,5,None
21,35284,M MATIAS REPRESENTACOES S/C LTDA,2240,49,0.0,1,None
22,56250,JOAO NERY DE SANTANA FILHO,2135,50,0.0,1,None
23,57286,ANDRADE LOCADORA DE VIDEO LTDA,2062,49,0.0,5,None
24,58970,TOTAL CAR VEICULOS LTDA,2062,49,20000.0,1,None
25,66042,CONDOMINIO DO EDIFICIO ALBERTO AZEVEDO,3085,19,0.0,5,None
26,68157,ASSOC. DE PRODUTORES DE PAES E DERIVADOS DE CA...,3999,16,0.0,5,None
27,70273,VANDA DA SILVA LANCHONETE,2135,50,15000.0,1,None
28,74218,V G SILVA TECIDOS,2135,50,16000.0,1,None
29,75086,G A RIBEIRO REPRESENTACOES,4014,34,0.0,5,None

In [102]:
# Entendendo coluna "ente_federativo":
empresas\
        .where("ente_federativo is not null")\
        .show(20, False)

+--------+----------------------------------------------------------------------------------------------+-----------------+------------------------+--------------+-----+---------------------------+
|cnpj    |razao_social                                                                                  |natureza_juridica|qualificacao_responsavel|capital_social|porte|ente_federativo            |
+--------+----------------------------------------------------------------------------------------------+-----------------+------------------------+--------------+-----+---------------------------+
|784274  |SECRETARIA MUNICIPAL DE SAUDE                                                                 |1031             |5                       |0.0           |5    |PARATINGA - BA             |
|2030715 |AGENCIA NACIONAL DE TELECOMUNICACOES                                                          |1104             |16                      |0.0           |5    |UNI�O                      |
|3104818 |AUTARQUIA MUNICIPAL DE ESPORTES E RECREACAO DE OURINHOS                                       |1120             |16                      |0.0           |5    |OURINHOS - SP              |
|6035005 |INSTITUTO DE PREVIDENCIA DO MUNICIPIO DE CANHOTINHO                                           |1120             |16                      |0.0           |5    |CANHOTINHO - PE            |
|6110684 |FUNDO MUNICIPAL DA EDUCACAO                                                                   |1333             |5                       |0.0           |5    |JURANDA - PR               |
|6553523 |PIAUI SECRETARIA DO PLANEJAMENTO SEPLAN                                                       |1023             |5                       |0.0           |5    |PIAUI                      |
|10471096|FUNDO MUNICIPAL DE SAUDE DE SEBASTIANOPOLIS DO SUL                                            |1333             |5                       |0.0           |5    |SEBASTIANOPOLIS DO SUL - SP|
|11373944|FUNDO MUNICIPAL DE SAUDE - FMS                                                                |1333             |5                       |0.0           |5    |FEIRA DA MATA - BA         |
|11429746|FUNDO MUNICIPAL DE SAUDE DE NOVO HORIZONTE                                                    |1333             |5                       |0.0           |5    |NOVO HORIZONTE - BA        |
|11740122|FUNDO MUNICIPAL DE SAUDE DE CARRASCO BONITO - FMSCB                                           |1333             |5                       |0.0           |5    |CARRASCO BONITO - TO       |
|11902441|FUNDO MUNICIPAL DE SAUDE                                                                      |1333             |5                       |0.0           |5    |GENTIO DO OURO - BA        |
|12157728|FUNDO MUNICIPAL DE SAUDE DE VILA VELHA - F M S                                                |1333             |5                       |0.0           |5    |VILA VELHA - ES            |
|13474300|FUNDO MUNICIPAL DE ASSISTENCIA SOCIAL                                                         |1333             |5                       |0.0           |5    |ANDORINHA - BA             |
|13652375|CAMARA MUNICIPAL DE SANTA CRUZ CABRALIA                                                       |1066             |5                       |0.0           |5    |SANTA CRUZ CABRALIA - BA   |
|15086405|COMISSAO MUNICIPAL DE DEFESA CIVIL - COMDEC                                                   |1210             |16                      |0.0           |5    |FRANCISCO ALVES - PR       |
|18144198|FUNDO MUNICIPAL DE RECURSOS DESTINADOS AO ATENDIMENTO DOS DIREITOS DA CRIANCA E DO ADOLESCENTE|1333             |5                       |0.0           |5    |SARAPUI - SP               |
|18688946|FUNDO MUNICIPAL DE DESENVOLVIMENTO AMBIENTAL DE UBA                                           |1031             |5                       |0.0           |5    |UBA - MG                   |
|18741825|FUNDO MUNICIPAL DO IDOSO DE SERAFINA CORREA                                                   |1333             |5                       |0.0           |5    |SERAFINA CORREA - RS       |
|19204815|ASSOCIACAO DOS MORADORES DO BAIRRO LIMBERGER                                                  |1210             |16                      |0.0           |5    |ARROIO DO TIGRE - RS       |
|19412696|FUNDO MUNICIPAL DA  CULTURA                                                                   |1333             |5                       |0.0           |5    |CARMO DO RIO CLARO - MG    |
+--------+----------------------------------------------------------------------------------------------+-----------------+------------------------+--------------+-----+---------------------------+
only showing top 20 rows

In [103]:
# Padronizando dados nulos da coluna "ente_federativo"
empresas.na.fill({"ente_federativo":"N/A"}).show()

+-----+--------------------+-----------------+------------------------+--------------+-----+---------------+
| cnpj|        razao_social|natureza_juridica|qualificacao_responsavel|capital_social|porte|ente_federativo|
+-----+--------------------+-----------------+------------------------+--------------+-----+---------------+
|  306|FRANCAMAR REFRIGE...|             2240|                      49|           0.0|    1|            N/A|
| 1355|BRASILEIRO & OLIV...|             2062|                      49|           0.0|    5|            N/A|
| 4820|REGISTRO DE IMOVE...|             3034|                      32|           0.0|    5|            N/A|
| 5347|ROSELY APARECIDA ...|             2135|                      50|           0.0|    5|            N/A|
| 6846|BADU E FILHOS TEC...|             2062|                      49|        4000.0|    1|            N/A|
| 8416|  ELETRICA RUBI LTDA|             2062|                      49|           0.0|    5|            N/A|
| 8992|SHIROMA VEICULOS ...|             2062|                      49|           0.0|    5|            N/A|
| 9091|CONTATOS BAR E LA...|             2062|                      49|           0.0|    5|            N/A|
| 9614|ANTONIA APARECIDA...|             2135|                      50|           0.0|    5|            N/A|
| 9896|DORACY CORAT DA C...|             2135|                      50|           0.0|    5|            N/A|
|12112|LANCHONETE RIO VE...|             2062|                      49|           0.0|    5|            N/A|
|12605|VALMAR JACAREI CO...|             2062|                      49|           0.0|    5|            N/A|
|13407|ROSANA CRISTINA D...|             2135|                      50|           0.0|    5|            N/A|
|13408|CELIO RODRIGUES D...|             2135|                      50|           0.0|    5|            N/A|
|13721|MAQFRAN COMERCIO ...|             2062|                      49|           0.0|    1|            N/A|
|21181|MOURA & SILVA MER...|             2062|                      49|           0.0|    5|            N/A|
|21858|PAMARATI COMERCIO...|             2135|                      50|           0.0|    1|            N/A|
|22277|INACIO RODRIGUES ...|             2135|                      50|           0.0|    5|            N/A|
|24205|SUELY LEME MARI A...|             2135|                      50|        1000.0|    1|            N/A|
|26805|SUELI BATISTA DA ...|             2135|                      50|           0.0|    5|            N/A|
+-----+--------------------+-----------------+------------------------+--------------+-----+---------------+
only showing top 20 rows

In [104]:
empresas = empresas.na.fill({"ente_federativo":"N/A"})

In [105]:
# Verifique quantas empresas tem capital_social igual ou menor a zero:

empresas\
        .where("capital_social < 0").count()

0

In [106]:
empresas\
        .where("capital_social == 0")\
        .count()

1691023

In [107]:
# Criando um novo Data Frame somente com capital social maior que zero:
capitalizadas = empresas\
        .where("capital_social > 0")

In [108]:
capitalizadas.show(30, False)

+------+-------------------------------------------------------------------+-----------------+------------------------+--------------+-----+---------------+
|cnpj  |razao_social                                                       |natureza_juridica|qualificacao_responsavel|capital_social|porte|ente_federativo|
+------+-------------------------------------------------------------------+-----------------+------------------------+--------------+-----+---------------+
|6846  |BADU E FILHOS TECIDOS LTDA                                         |2062             |49                      |4000.0        |1    |N/A            |
|24205 |SUELY LEME MARI ANI 25086572800                                    |2135             |50                      |1000.0        |1    |N/A            |
|58970 |TOTAL CAR VEICULOS LTDA                                            |2062             |49                      |20000.0       |1    |N/A            |
|70273 |VANDA DA SILVA LANCHONETE                                          |2135             |50                      |15000.0       |1    |N/A            |
|74218 |V G SILVA TECIDOS                                                  |2135             |50                      |16000.0       |1    |N/A            |
|116791|AGNALDO ROCHA VIANA                                                |2135             |50                      |60000.0       |1    |N/A            |
|122983|ALOISIO OCZUST                                                     |2135             |50                      |10000.0       |1    |N/A            |
|164903|SUPERMERCADO DALTO LTDA                                            |2062             |49                      |10000.0       |5    |N/A            |
|213573|AUSTEMP TRATAMENTO TERMICO DE METAIS LTDA                          |2062             |49                      |25000.0       |3    |N/A            |
|214328|LUIS CARLOS DIAS ALMEIDA                                           |2135             |50                      |10000.0       |5    |N/A            |
|215102|JBM COMERCIAL DE ALIMENTOS LTDA                                    |2062             |49                      |30000.0       |3    |N/A            |
|230723|TRATTATIVA DOCUMENTOS LTDA                                         |2062             |49                      |8000.0        |1    |N/A            |
|251420|JORGE LUIZ ANDRADE SANTOS                                          |2135             |50                      |10000.0       |1    |N/A            |
|292505|GRANCOR CORRETORA DE SEGUROS E ADMINISTRADORA LTDA                 |2062             |49                      |5000.0        |1    |N/A            |
|311683|FROM BRAZIL TRADING LTDA                                           |2062             |49                      |10000.0       |1    |N/A            |
|346063|COR DO CEU INDUSTRIA DO VESTUARIO LTDA                             |2062             |49                      |1000000.0     |3    |N/A            |
|399680|MARIANTE COMERCIO DE ALIMENTOS LTDA                                |2062             |49                      |50000.0       |5    |N/A            |
|439871|ROMUALDO BEZERRA                                                   |2135             |50                      |1000.0        |1    |N/A            |
|477251|FORMS EMPREENDIMENTOS E CONSULTORIA LTDA                           |2062             |49                      |30000.0       |1    |N/A            |
|514684|BARROS & MIRANDA LTDA                                              |2062             |49                      |30000.0       |3    |N/A            |
|550169|FERNANDO SKAF                                                      |2135             |50                      |70000.0       |3    |N/A            |
|616948|NOVA PRIMUS COMERCIO DE PECAS INDUSTRIAL LTDA                      |2062             |49                      |50000.0       |1    |N/A            |
|639844|MULTI-HIDRO INDUSTRIA E COMERCIO DE TUBOS, CONEXOES E VALVULAS LTDA|2062             |49                      |1.44E7        |5    |N/A            |
|648150|PLH COMERCIO DE RACOES LTDA                                        |2062             |49                      |3500.0        |1    |N/A            |
|655784|HOB & NOB COM. IMPORT. E EXPORT. LTDA                              |2062             |49                      |52000.0       |3    |N/A            |
|656225|JOAO CARLOS RODRIGUES ARMARINHOS                                   |2135             |50                      |20000.0       |1    |N/A            |
|677535|TRANSPORTES TRANSRAFFI LTDA                                        |2062             |49                      |30000.0       |1    |N/A            |
|820160|I B ABRAMOSKI EIRELI                                               |2305             |65                      |100000.0      |1    |N/A            |
|849632|NR CONTABIL LTDA                                                   |2062             |49                      |5000.0        |3    |N/A            |
|860872|LUSA LOCADORA DE VEICULOS LTDA                                     |2062             |49                      |100000.0      |5    |N/A            |
+------+-------------------------------------------------------------------+-----------------+------------------------+--------------+-----+---------------+
only showing top 30 rows

In [109]:
# Pesquisando strings:
# Mostre em tela os 20 primeiros registros de empresas que contenham a palavra
# restaurante
capitalizadas\
              .where("razao_social like '%RESTAURANTE%'")\
              .show(20, False)

+--------+------------------------------------------------------+-----------------+------------------------+--------------+-----+---------------+
|cnpj    |razao_social                                          |natureza_juridica|qualificacao_responsavel|capital_social|porte|ente_federativo|
+--------+------------------------------------------------------+-----------------+------------------------+--------------+-----+---------------+
|2591875 |BAR E RESTAURANTE CASA DA QUINTA LTDA                 |2062             |49                      |5000.0        |1    |N/A            |
|3059084 |DON MUGO RESTAURANTE LTDA                             |2062             |49                      |10000.0       |1    |N/A            |
|3396661 |GERACAO DE OURO - BAR E RESTAURANTE LTDA              |2062             |5                       |40000.0       |5    |N/A            |
|5930238 |PSTJ RESTAURANTE LTDA                                 |2062             |49                      |30000.0       |1    |N/A            |
|6218415 |CASTELO RESTAURANTE LTDA                              |2062             |49                      |10000.0       |1    |N/A            |
|7137310 |VALENTE SUZART FRANCO RESTAURANTE, CREPERIA E BAR LTDA|2062             |49                      |90000.0       |1    |N/A            |
|7574443 |DUBAY BAR RESTAURANTE LTDA                            |2062             |49                      |20000.0       |1    |N/A            |
|7836535 |RESTAURANTE PONTO NOBRE EIRELI                        |2305             |65                      |105000.0      |1    |N/A            |
|8358548 |PAULYPATRY CAFE & RESTAURANTE SELF SEVICE LTDA        |2062             |49                      |25000.0       |1    |N/A            |
|8383324 |BAR E RESTAURANTE BABALOTIM LTDA.                     |2062             |49                      |10000.0       |1    |N/A            |
|8617005 |REI DA PICANHA - RESTAURANTE E CHOPERIA EIRELI        |2305             |65                      |110000.0      |1    |N/A            |
|8626680 |FELIZ PIPA BAR E RESTAURANTE LTDA                     |2062             |49                      |120001.0      |1    |N/A            |
|8702464 |T T L RESTAURANTE LTDA                                |2062             |49                      |5000.0        |1    |N/A            |
|8873933 |REGINA DA S SANTOS RESTAURANTE                        |2135             |50                      |8000.0        |1    |N/A            |
|8892808 |MARCIANO REZES DA SILVA RESTAURANTE                   |2135             |50                      |20000.0       |1    |N/A            |
|9368171 |LANCHONETE E RESTAURANTE RAIZ LTDA                    |2062             |49                      |15000.0       |1    |N/A            |
|9506266 |PEREGRINOS BAR E RESTAURANTE LTDA                     |2062             |49                      |10000.0       |1    |N/A            |
|9510093 |AFA - SERVICOS DE HOTELARIA E RESTAURANTE LTDA        |2062             |49                      |579365.0      |1    |N/A            |
|10486457|RESTAURANTE ALEGRIA ALEGRIA LTDA                      |2062             |49                      |5000.0        |1    |N/A            |
|10691348|DSL BAR E RESTAURANTE EIRELI                          |2305             |65                      |100000.0      |1    |N/A            |
+--------+------------------------------------------------------+-----------------+------------------------+--------------+-----+---------------+
only showing top 20 rows

In [110]:
# Trabalhando com dados estatisticos basico:
# Crie uma visão estatistica geral contendo: contagem, média. mediana, soma e
# Desvio padrão da coluna capital_social.

capitalizadas.agg(
          f.count("*").alias("quantidade"),
          f.mean("capital_social").alias("media_investimento"),
          f.median("capital_social").alias("mediana_investimento"),
          f.sum("capital_social").alias("total_investido"),
          f.stddev("capital_social").alias("desvio_padrao")
          ).show()

+----------+------------------+--------------------+--------------------+-------------------+
|quantidade|media_investimento|mediana_investimento|     total_investido|      desvio_padrao|
+----------+------------------+--------------------+--------------------+-------------------+
|   2894656| 797946.8062905608|              5000.0|2.309781510509809...|2.658089851944688E8|
+----------+------------------+--------------------+--------------------+-------------------+

In [111]:
capitalizadas.agg(
          f.format_number(f.count("*"),2).alias("quantidade"),
          f.format_number(f.mean("capital_social"),2).alias("media_investimento"),
          f.format_number(f.median("capital_social"),2).alias("mediana_investimento"),
          f.format_number(f.sum("capital_social"),2).alias("total_investido"),
          f.format_number(f.stddev("capital_social"),2).alias("desvio_padrao")
          ).toPandas()

,quantidade,media_investimento,mediana_investimento,total_investido,desvio_padrao
0,"2,894,656.00","797,946.81","5,000.00","2,309,781,510,509.81","265,808,985.19"

In [112]:
# Mostre as mesmas informações acima mas agrupando por porte de empresa
empresas.show()

+-----+--------------------+-----------------+------------------------+--------------+-----+---------------+
| cnpj|        razao_social|natureza_juridica|qualificacao_responsavel|capital_social|porte|ente_federativo|
+-----+--------------------+-----------------+------------------------+--------------+-----+---------------+
|  306|FRANCAMAR REFRIGE...|             2240|                      49|           0.0|    1|            N/A|
| 1355|BRASILEIRO & OLIV...|             2062|                      49|           0.0|    5|            N/A|
| 4820|REGISTRO DE IMOVE...|             3034|                      32|           0.0|    5|            N/A|
| 5347|ROSELY APARECIDA ...|             2135|                      50|           0.0|    5|            N/A|
| 6846|BADU E FILHOS TEC...|             2062|                      49|        4000.0|    1|            N/A|
| 8416|  ELETRICA RUBI LTDA|             2062|                      49|           0.0|    5|            N/A|
| 8992|SHIROMA VEICULOS ...|             2062|                      49|           0.0|    5|            N/A|
| 9091|CONTATOS BAR E LA...|             2062|                      49|           0.0|    5|            N/A|
| 9614|ANTONIA APARECIDA...|             2135|                      50|           0.0|    5|            N/A|
| 9896|DORACY CORAT DA C...|             2135|                      50|           0.0|    5|            N/A|
|12112|LANCHONETE RIO VE...|             2062|                      49|           0.0|    5|            N/A|
|12605|VALMAR JACAREI CO...|             2062|                      49|           0.0|    5|            N/A|
|13407|ROSANA CRISTINA D...|             2135|                      50|           0.0|    5|            N/A|
|13408|CELIO RODRIGUES D...|             2135|                      50|           0.0|    5|            N/A|
|13721|MAQFRAN COMERCIO ...|             2062|                      49|           0.0|    1|            N/A|
|21181|MOURA & SILVA MER...|             2062|                      49|           0.0|    5|            N/A|
|21858|PAMARATI COMERCIO...|             2135|                      50|           0.0|    1|            N/A|
|22277|INACIO RODRIGUES ...|             2135|                      50|           0.0|    5|            N/A|
|24205|SUELY LEME MARI A...|             2135|                      50|        1000.0|    1|            N/A|
|26805|SUELI BATISTA DA ...|             2135|                      50|           0.0|    5|            N/A|
+-----+--------------------+-----------------+------------------------+--------------+-----+---------------+
only showing top 20 rows

In [113]:
capitalizadas.groupby("porte").agg(
          f.format_number(f.count("*"),2).alias("quantidade"),
          f.format_number(f.mean("capital_social"),2).alias("media_investimento"),
          f.format_number(f.median("capital_social"),2).alias("mediana_investimento"),
          f.format_number(f.sum("capital_social"),2).alias("total_investido"),
          f.format_number(f.stddev("capital_social"),2).alias("desvio_padrao")
          ).toPandas()

,porte,quantidade,media_investimento,mediana_investimento,total_investido,desvio_padrao
0,NaN,1.00,"50,000.00","50,000.00","50,000.00",None
1,1.0,"2,671,059.00","398,290.53","5,000.00","1,063,857,513,944.56","222,606,539.80"
2,3.0,"102,894.00","2,910,839.84","67,800.00","299,507,954,553.49","790,882,852.95"
3,5.0,"120,702.00","7,840,930.49","50,000.00","946,415,992,011.76","254,102,444.49"

In [114]:
# Altere a coluna "porte" para seu descritivo
# Consultar dicionário de dados:
capitalizadas.withColumn("porte",
                         f.when(capitalizadas.porte == 0, "NAO INFORMADO")\
                         .when(capitalizadas.porte == 1, "MICRO EMPRESA")\
                         .when(capitalizadas.porte == 3, "PEQUENO PORTE")\
                         .otherwise("OUTRAS")
                         ).show()

+------+--------------------+-----------------+------------------------+--------------+-------------+---------------+
|  cnpj|        razao_social|natureza_juridica|qualificacao_responsavel|capital_social|        porte|ente_federativo|
+------+--------------------+-----------------+------------------------+--------------+-------------+---------------+
|  6846|BADU E FILHOS TEC...|             2062|                      49|        4000.0|MICRO EMPRESA|            N/A|
| 24205|SUELY LEME MARI A...|             2135|                      50|        1000.0|MICRO EMPRESA|            N/A|
| 58970|TOTAL CAR VEICULO...|             2062|                      49|       20000.0|MICRO EMPRESA|            N/A|
| 70273|VANDA DA SILVA LA...|             2135|                      50|       15000.0|MICRO EMPRESA|            N/A|
| 74218|   V G SILVA TECIDOS|             2135|                      50|       16000.0|MICRO EMPRESA|            N/A|
|116791| AGNALDO ROCHA VIANA|             2135|                      50|       60000.0|MICRO EMPRESA|            N/A|
|122983|      ALOISIO OCZUST|             2135|                      50|       10000.0|MICRO EMPRESA|            N/A|
|164903|SUPERMERCADO DALT...|             2062|                      49|       10000.0|       OUTRAS|            N/A|
|213573|AUSTEMP TRATAMENT...|             2062|                      49|       25000.0|PEQUENO PORTE|            N/A|
|214328|LUIS CARLOS DIAS ...|             2135|                      50|       10000.0|       OUTRAS|            N/A|
|215102|JBM COMERCIAL DE ...|             2062|                      49|       30000.0|PEQUENO PORTE|            N/A|
|230723|TRATTATIVA DOCUME...|             2062|                      49|        8000.0|MICRO EMPRESA|            N/A|
|251420|JORGE LUIZ ANDRAD...|             2135|                      50|       10000.0|MICRO EMPRESA|            N/A|
|292505|GRANCOR CORRETORA...|             2062|                      49|        5000.0|MICRO EMPRESA|            N/A|
|311683|FROM BRAZIL TRADI...|             2062|                      49|       10000.0|MICRO EMPRESA|            N/A|
|346063|COR DO CEU INDUST...|             2062|                      49|     1000000.0|PEQUENO PORTE|            N/A|
|399680|MARIANTE COMERCIO...|             2062|                      49|       50000.0|       OUTRAS|            N/A|
|439871|    ROMUALDO BEZERRA|             2135|                      50|        1000.0|MICRO EMPRESA|            N/A|
|477251|FORMS EMPREENDIME...|             2062|                      49|       30000.0|MICRO EMPRESA|            N/A|
|514684|BARROS & MIRANDA ...|             2062|                      49|       30000.0|PEQUENO PORTE|            N/A|
+------+--------------------+-----------------+------------------------+--------------+-------------+---------------+
only showing top 20 rows

In [115]:
capitalizadas = capitalizadas.withColumn("porte",
                         f.when(capitalizadas.porte == 0, "NAO INFORMADO")\
                         .when(capitalizadas.porte == 1, "MICRO EMPRESA")\
                         .when(capitalizadas.porte == 3, "PEQUENO PORTE")\
                         .otherwise("OUTRAS")
                         )

In [116]:
capitalizadas.groupby("porte").agg(
          f.format_number(f.count("*"),2).alias("quantidade"),
          f.format_number(f.mean("capital_social"),2).alias("media_investimento"),
          f.format_number(f.median("capital_social"),2).alias("mediana_investimento"),
          f.format_number(f.sum("capital_social"),2).alias("total_investido"),
          f.format_number(f.stddev("capital_social"),2).alias("desvio_padrao")
          ).orderBy("porte").toPandas()

,porte,quantidade,media_investimento,mediana_investimento,total_investido,desvio_padrao
0,MICRO EMPRESA,"2,671,059.00","398,290.53","5,000.00","1,063,857,513,944.56","222,606,539.80"
1,OUTRAS,"120,703.00","7,840,865.94","50,000.00","946,416,042,011.76","254,101,392.88"
2,PEQUENO PORTE,"102,894.00","2,910,839.84","67,800.00","299,507,954,553.49","790,882,852.95"

In [117]:
# Altere a coluna "qualificação_responsavel" para "responsavel" e a coluna:
# "ente_federativo" para "UF":
capitalizadas.withColumnsRenamed({
    "qualificacao_responsavel":"responsavel",
    "ente_federativo":"UF"
}).show()

+------+--------------------+-----------------+-----------+--------------+-------------+---+
|  cnpj|        razao_social|natureza_juridica|responsavel|capital_social|        porte| UF|
+------+--------------------+-----------------+-----------+--------------+-------------+---+
|  6846|BADU E FILHOS TEC...|             2062|         49|        4000.0|MICRO EMPRESA|N/A|
| 24205|SUELY LEME MARI A...|             2135|         50|        1000.0|MICRO EMPRESA|N/A|
| 58970|TOTAL CAR VEICULO...|             2062|         49|       20000.0|MICRO EMPRESA|N/A|
| 70273|VANDA DA SILVA LA...|             2135|         50|       15000.0|MICRO EMPRESA|N/A|
| 74218|   V G SILVA TECIDOS|             2135|         50|       16000.0|MICRO EMPRESA|N/A|
|116791| AGNALDO ROCHA VIANA|             2135|         50|       60000.0|MICRO EMPRESA|N/A|
|122983|      ALOISIO OCZUST|             2135|         50|       10000.0|MICRO EMPRESA|N/A|
|164903|SUPERMERCADO DALT...|             2062|         49|       10000.0|       OUTRAS|N/A|
|213573|AUSTEMP TRATAMENT...|             2062|         49|       25000.0|PEQUENO PORTE|N/A|
|214328|LUIS CARLOS DIAS ...|             2135|         50|       10000.0|       OUTRAS|N/A|
|215102|JBM COMERCIAL DE ...|             2062|         49|       30000.0|PEQUENO PORTE|N/A|
|230723|TRATTATIVA DOCUME...|             2062|         49|        8000.0|MICRO EMPRESA|N/A|
|251420|JORGE LUIZ ANDRAD...|             2135|         50|       10000.0|MICRO EMPRESA|N/A|
|292505|GRANCOR CORRETORA...|             2062|         49|        5000.0|MICRO EMPRESA|N/A|
|311683|FROM BRAZIL TRADI...|             2062|         49|       10000.0|MICRO EMPRESA|N/A|
|346063|COR DO CEU INDUST...|             2062|         49|     1000000.0|PEQUENO PORTE|N/A|
|399680|MARIANTE COMERCIO...|             2062|         49|       50000.0|       OUTRAS|N/A|
|439871|    ROMUALDO BEZERRA|             2135|         50|        1000.0|MICRO EMPRESA|N/A|
|477251|FORMS EMPREENDIME...|             2062|         49|       30000.0|MICRO EMPRESA|N/A|
|514684|BARROS & MIRANDA ...|             2062|         49|       30000.0|PEQUENO PORTE|N/A|
+------+--------------------+-----------------+-----------+--------------+-------------+---+
only showing top 20 rows

In [118]:
capitalizadas = capitalizadas.withColumnsRenamed({
    "qualificacao_responsavel":"responsavel",
    "ente_federativo":"UF"
})

In [119]:
capitalizadas.show()

+------+--------------------+-----------------+-----------+--------------+-------------+---+
|  cnpj|        razao_social|natureza_juridica|responsavel|capital_social|        porte| UF|
+------+--------------------+-----------------+-----------+--------------+-------------+---+
|  6846|BADU E FILHOS TEC...|             2062|         49|        4000.0|MICRO EMPRESA|N/A|
| 24205|SUELY LEME MARI A...|             2135|         50|        1000.0|MICRO EMPRESA|N/A|
| 58970|TOTAL CAR VEICULO...|             2062|         49|       20000.0|MICRO EMPRESA|N/A|
| 70273|VANDA DA SILVA LA...|             2135|         50|       15000.0|MICRO EMPRESA|N/A|
| 74218|   V G SILVA TECIDOS|             2135|         50|       16000.0|MICRO EMPRESA|N/A|
|116791| AGNALDO ROCHA VIANA|             2135|         50|       60000.0|MICRO EMPRESA|N/A|
|122983|      ALOISIO OCZUST|             2135|         50|       10000.0|MICRO EMPRESA|N/A|
|164903|SUPERMERCADO DALT...|             2062|         49|       10000.0|       OUTRAS|N/A|
|213573|AUSTEMP TRATAMENT...|             2062|         49|       25000.0|PEQUENO PORTE|N/A|
|214328|LUIS CARLOS DIAS ...|             2135|         50|       10000.0|       OUTRAS|N/A|
|215102|JBM COMERCIAL DE ...|             2062|         49|       30000.0|PEQUENO PORTE|N/A|
|230723|TRATTATIVA DOCUME...|             2062|         49|        8000.0|MICRO EMPRESA|N/A|
|251420|JORGE LUIZ ANDRAD...|             2135|         50|       10000.0|MICRO EMPRESA|N/A|
|292505|GRANCOR CORRETORA...|             2062|         49|        5000.0|MICRO EMPRESA|N/A|
|311683|FROM BRAZIL TRADI...|             2062|         49|       10000.0|MICRO EMPRESA|N/A|
|346063|COR DO CEU INDUST...|             2062|         49|     1000000.0|PEQUENO PORTE|N/A|
|399680|MARIANTE COMERCIO...|             2062|         49|       50000.0|       OUTRAS|N/A|
|439871|    ROMUALDO BEZERRA|             2135|         50|        1000.0|MICRO EMPRESA|N/A|
|477251|FORMS EMPREENDIME...|             2062|         49|       30000.0|MICRO EMPRESA|N/A|
|514684|BARROS & MIRANDA ...|             2062|         49|       30000.0|PEQUENO PORTE|N/A|
+------+--------------------+-----------------+-----------+--------------+-------------+---+
only showing top 20 rows

In [121]:
# 05/08/2024
# Importando dataset de estabelecimentos
url = "/content/drive/MyDrive/BasesSpark/estabelecimentos/part*"

estabs = spark.read.csv(
    url,
    header=True,
    inferSchema=True,
    sep=";"
)

In [124]:
estabs.show(15, False)

+-----------+----------+-------+---------------------------+-----------------------------------+------------------+-----------------------+-------------------------+--------------------------+----+------------------------+---------------------+---------------------------------------+------------------+----------------------+------+-------------------+------------------+--------+---+---------+-----+----------+-----+----------+----------+--------+----------------------------+-----------------+-------------------------+
|cnpj_basico|cnpj_ordem|cnpj_dv|identificador_matriz_filial|nome_fantasia                      |situacao_cadastral|data_situacao_cadastral|motivo_situacao_cadastral|nome_da_cidade_no_exterior|pais|data_de_inicio_atividade|cnae_fiscal_principal|cnae_fiscal_secundaria                 |tipo_de_logradouro|logradouro            |numero|complemento        |bairro            |cep     |uf |municipio|ddd_1|telefone_1|ddd_2|telefone_2|ddd_do_fax|fax     |correio_eletronico          |situacao_especial|data_da_situacao_especial|
+-----------+----------+-------+---------------------------+-----------------------------------+------------------+-----------------------+-------------------------+--------------------------+----+------------------------+---------------------+---------------------------------------+------------------+----------------------+------+-------------------+------------------+--------+---+---------+-----+----------+-----+----------+----------+--------+----------------------------+-----------------+-------------------------+
|1879       |1         |96     |1                          |PIRAMIDE M. C.                     |8                 |20011029               |1                        |NULL                      |NULL|19940509                |1412602              |NULL                                   |RUA               |JOSE FIGLIOLINI       |608   |NULL               |VILA NILO         |2278020 |SP |7107     |NULL |NULL      |NULL |NULL      |NULL      |NULL    |NULL                        |NULL             |NULL                     |
|2818       |1         |43     |1                          |NULL                               |8                 |20081231               |71                       |NULL                      |NULL|19940512                |4671100              |NULL                                   |RUA               |BAQUIA                |416   |NULL               |VL NOVA MANCHESTER|3443000 |SP |7107     |NULL |NULL      |NULL |NULL      |NULL      |NULL    |NULL                        |NULL             |NULL                     |
|3110       |1         |7      |1                          |NULL                               |8                 |19971231               |1                        |NULL                      |NULL|19940512                |4789007              |NULL                                   |RUA               |LEOCADIA CINTRA       |180   |CONJ 83            |MOOCA             |3112040 |SP |7107     |NULL |NULL      |NULL |NULL      |NULL      |NULL    |NULL                        |NULL             |NULL                     |
|3733       |1         |80     |1                          |NULL                               |8                 |20081231               |71                       |NULL                      |NULL|19940513                |7490101              |NULL                                   |RUA               |AFONSO CELSO          |1102  |CASA 1             |VILA MARIANA      |4119061 |SP |7107     |NULL |NULL      |NULL |NULL      |NULL      |NULL    |NULL                        |NULL             |NULL                     |
|4628       |3         |27     |2                          |EMBROIDERY & GIFT                  |8                 |19980429               |1                        |NULL                      |NULL|19950509                |4755501              |NULL                                   |RUA               |DOUTOR GABRIEL NICOLAU|177   |NULL               |RUDGE RAMOS       |9632040 |SP |7075     |NULL |NULL      |NULL |NULL      |NULL      |NULL    |NULL                        |NULL             |NULL                     |
|4628       |4         |8      |2                          |NULL                               |8                 |20040719               |1                        |NULL                      |NULL|19990715                |4755502              |NULL                                   |AVENIDA           |SENADOR VERGUEIRO     |4556  |NULL               |RUDGE RAMOS       |9750900 |SP |7075     |NULL |NULL      |NULL |NULL      |NULL      |NULL    |NULL                        |NULL             |NULL                     |
|4628       |2         |46     |2                          |EMBROIDERY & GIFT                  |8                 |19960802               |1                        |NULL                      |NULL|19950406                |4755501              |NULL                                   |AVENIDA           |KENNEDY               |700   |P2PULMANN QUIO P67L|JD TRES MARIAS    |9725000 |SP |7075     |NULL |NULL      |NULL |NULL      |NULL      |NULL    |NULL                        |NULL             |NULL                     |
|4628       |1         |65     |1                          |NULL                               |2                 |20051103               |0                        |NULL                      |NULL|19940516                |4930202              |7739099,4930201,5229002,4520005,5223100|RUA               |TIETE (VL VIVALDI)    |189   |NULL               |RUDGE RAMOS       |9615000 |SP |7075     |11   |43625402  |11   |43622689  |11        |43625402|SHIRLEY_LUPOS@HOTMAIL.COM   |NULL             |NULL                     |
|10804      |1         |71     |1                          |KOLVOX                             |8                 |20170613               |1                        |NULL                      |NULL|19940530                |1412601              |1412603                                |AVENIDA           |NORDESTINA            |917   |SALA  02           |VILA AMERICANA    |8021000 |SP |7107     |11   |20580186  |NULL |NULL      |NULL      |NULL    |NCCONTABILIDADE@TERRA.COM.BR|NULL             |NULL                     |
|11448      |1         |0      |1                          |PROLAV                             |8                 |20081231               |71                       |NULL                      |NULL|19940530                |4649408              |NULL                                   |RUA               |PITAGUARAS            |05    |NULL               |POMPEIA           |5027100 |SP |7107     |NULL |NULL      |NULL |NULL      |NULL      |NULL    |NULL                        |NULL             |NULL                     |
|13566      |1         |58     |1                          |NULL                               |8                 |20000914               |1                        |NULL                      |NULL|19940607                |4120400              |4299501                                |RUA               |CAETANO NIGRO         |480   |NULL               |VL HARMONIA       |14802450|SP |6163     |NULL |NULL      |NULL |NULL      |NULL      |NULL    |NULL                        |NULL             |NULL                     |
|15324      |1         |1      |1                          |MINI SACOLAO VILA CRISTINA         |8                 |20080214               |54                       |NULL                      |NULL|19940610                |4729699              |NULL                                   |RUA               |JAN DE CAPELLI        |238   |240                |PQ BRISTOL        |4193070 |SP |7107     |NULL |NULL      |NULL |NULL      |NULL      |NULL    |NULL                        |NULL             |NULL                     |
|17853      |1         |36     |1                          |J Z B COMERCIO DE INSUMOS AGRICOLAS|8                 |20071003               |54                       |NULL                      |NULL|19940615                |2051700              |2052500                                |ESTRADA           |MUNIC.ALTAIR A GUARACI|SN    |KM 04              |ZONA RURAL        |15430000|SP |6117     |NULL |NULL      |NULL |NULL      |NULL      |NULL    |NULL                        |NULL             |NULL                     |
|18103      |1         |89     |1                          |NULL                               |8                 |20081231               |71                       |NULL                      |NULL|19940616                |4723700              |NULL                                   |AVENIDA           |FREDERICO OZANAN      |946   |NULL               |VILA SAMPAIO      |17205000|SP |6607     |NULL |NULL      |NULL |NULL      |NULL      |NULL    |NULL                        |NULL             |NULL                     |
|22504      |1         |2      |1                          |NULL                               |8                 |20151119               |1                        |NULL                      |NULL|19940627                |4761003              |4761001,4761002,4763604                |RUA               |SANTA CRUZ            |595   |NULL               |CENTRO            |13560680|SP |7079     |016  |2706821   |NULL |NULL      |16        |2706821 |NULL                        |NULL             |NULL                     |
+-----------+----------+-------+---------------------------+-----------------------------------+------------------+-----------------------+-------------------------+--------------------------+----+------------------------+---------------------+---------------------------------------+------------------+----------------------+------+-------------------+------------------+--------+---+---------+-----+----------+-----+----------+----------+--------+----------------------------+-----------------+-------------------------+
only showing top 15 rows

In [125]:
estabs.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- cnpj_ordem: integer (nullable = true)
 |-- cnpj_dv: integer (nullable = true)
 |-- identificador_matriz_filial: integer (nullable = true)
 |-- nome_fantasia: string (nullable = true)
 |-- situacao_cadastral: integer (nullable = true)
 |-- data_situacao_cadastral: integer (nullable = true)
 |-- motivo_situacao_cadastral: integer (nullable = true)
 |-- nome_da_cidade_no_exterior: string (nullable = true)
 |-- pais: integer (nullable = true)
 |-- data_de_inicio_atividade: integer (nullable = true)
 |-- cnae_fiscal_principal: integer (nullable = true)
 |-- cnae_fiscal_secundaria: string (nullable = true)
 |-- tipo_de_logradouro: string (nullable = true)
 |-- logradouro: string (nullable = true)
 |-- numero: string (nullable = true)
 |-- complemento: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- cep: integer (nullable = true)
 |-- uf: string (nullable = true)
 |-- municipio: integer (nullable = true)
 |-- ddd_1: string (nullable = true)
 |-- telefone_1: string (nullable = true)
 |-- ddd_2: string (nullable = true)
 |-- telefone_2: string (nullable = true)
 |-- ddd_do_fax: integer (nullable = true)
 |-- fax: string (nullable = true)
 |-- correio_eletronico: string (nullable = true)
 |-- situacao_especial: string (nullable = true)
 |-- data_da_situacao_especial: integer (nullable = true)

In [129]:
# Convertendo coluna data_de_inicio_atividade para o formato date

estabs.withColumn("data_de_inicio_atividade",
                  f.to_date("data_de_inicio_atividade", "yyyyMMdd")).show()

+-----------+----------+-------+---------------------------+--------------------+------------------+-----------------------+-------------------------+--------------------------+----+------------------------+---------------------+----------------------+------------------+--------------------+------+-------------------+------------------+--------+---+---------+-----+----------+-----+----------+----------+--------+--------------------+-----------------+-------------------------+
|cnpj_basico|cnpj_ordem|cnpj_dv|identificador_matriz_filial|       nome_fantasia|situacao_cadastral|data_situacao_cadastral|motivo_situacao_cadastral|nome_da_cidade_no_exterior|pais|data_de_inicio_atividade|cnae_fiscal_principal|cnae_fiscal_secundaria|tipo_de_logradouro|          logradouro|numero|        complemento|            bairro|     cep| uf|municipio|ddd_1|telefone_1|ddd_2|telefone_2|ddd_do_fax|     fax|  correio_eletronico|situacao_especial|data_da_situacao_especial|
+-----------+----------+-------+---------------------------+--------------------+------------------+-----------------------+-------------------------+--------------------------+----+------------------------+---------------------+----------------------+------------------+--------------------+------+-------------------+------------------+--------+---+---------+-----+----------+-----+----------+----------+--------+--------------------+-----------------+-------------------------+
|       1879|         1|     96|                          1|      PIRAMIDE M. C.|                 8|               20011029|                        1|                      NULL|NULL|              1994-05-09|              1412602|                  NULL|               RUA|     JOSE FIGLIOLINI|   608|               NULL|         VILA NILO| 2278020| SP|     7107| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|       2818|         1|     43|                          1|                NULL|                 8|               20081231|                       71|                      NULL|NULL|              1994-05-12|              4671100|                  NULL|               RUA|              BAQUIA|   416|               NULL|VL NOVA MANCHESTER| 3443000| SP|     7107| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|       3110|         1|      7|                          1|                NULL|                 8|               19971231|                        1|                      NULL|NULL|              1994-05-12|              4789007|                  NULL|               RUA|     LEOCADIA CINTRA|   180|            CONJ 83|             MOOCA| 3112040| SP|     7107| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|       3733|         1|     80|                          1|                NULL|                 8|               20081231|                       71|                      NULL|NULL|              1994-05-13|              7490101|                  NULL|               RUA|        AFONSO CELSO|  1102|             CASA 1|      VILA MARIANA| 4119061| SP|     7107| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|       4628|         3|     27|                          2|   EMBROIDERY & GIFT|                 8|               19980429|                        1|                      NULL|NULL|              1995-05-09|              4755501|                  NULL|               RUA|DOUTOR GABRIEL NI...|   177|               NULL|       RUDGE RAMOS| 9632040| SP|     7075| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|       4628|         4|      8|                          2|                NULL|                 8|               20040719|                        1|                      NULL|NULL|              1999-07-15|              4755502|                  NULL|           AVENIDA|   SENADOR VERGUEIRO|  4556|               NULL|       RUDGE RAMOS| 9750900| SP|     7075| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|       4628|         2|     46|                          2|   EMBROIDERY & GIFT|                 8|               19960802|                        1|                      NULL|NULL|              1995-04-06|              4755501|                  NULL|           AVENIDA|             KENNEDY|   700|P2PULMANN QUIO P67L|    JD TRES MARIAS| 9725000| SP|     7075| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|       4628|         1|     65|                          1|                NULL|                 2|               20051103|                        0|                      NULL|NULL|              1994-05-16|              4930202|  7739099,4930201,5...|               RUA|  TIETE (VL VIVALDI)|   189|               NULL|       RUDGE RAMOS| 9615000| SP|     7075|   11|  43625402|   11|  43622689|        11|43625402|SHIRLEY_LUPOS@HOT...|             NULL|                     NULL|
|      10804|         1|     71|                          1|              KOLVOX|                 8|               20170613|                        1|                      NULL|NULL|              1994-05-30|              1412601|               1412603|           AVENIDA|          NORDESTINA|   917|           SALA  02|    VILA AMERICANA| 8021000| SP|     7107|   11|  20580186| NULL|      NULL|      NULL|    NULL|NCCONTABILIDADE@T...|             NULL|                     NULL|
|      11448|         1|      0|                          1|              PROLAV|                 8|               20081231|                       71|                      NULL|NULL|              1994-05-30|              4649408|                  NULL|               RUA|          PITAGUARAS|    05|               NULL|           POMPEIA| 5027100| SP|     7107| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      13566|         1|     58|                          1|                NULL|                 8|               20000914|                        1|                      NULL|NULL|              1994-06-07|              4120400|               4299501|               RUA|       CAETANO NIGRO|   480|               NULL|       VL HARMONIA|14802450| SP|     6163| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      15324|         1|      1|                          1|MINI SACOLAO VILA...|                 8|               20080214|                       54|                      NULL|NULL|              1994-06-10|              4729699|                  NULL|               RUA|      JAN DE CAPELLI|   238|                240|        PQ BRISTOL| 4193070| SP|     7107| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      17853|         1|     36|                          1|J Z B COMERCIO DE...|                 8|               20071003|                       54|                      NULL|NULL|              1994-06-15|              2051700|               2052500|           ESTRADA|MUNIC.ALTAIR A GU...|    SN|              KM 04|        ZONA RURAL|15430000| SP|     6117| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      18103|         1|     89|                          1|                NULL|                 8|               20081231|                       71|                      NULL|NULL|              1994-06-16|              4723700|                  NULL|           AVENIDA|    FREDERICO OZANAN|   946|               NULL|      VILA SAMPAIO|17205000| SP|     6607| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      22504|         1|      2|                          1|                NULL|                 8|               20151119|                        1|                      NULL|NULL|              1994-06-27|              4761003|  4761001,4761002,4...|               RUA|          SANTA CRUZ|   595|               NULL|            CENTRO|13560680| SP|     7079|  016|   2706821| NULL|      NULL|        16| 2706821|                NULL|             NULL|                     NULL|
|      23494|         1|     20|                          1|                LEGO|                 8|               20150209|                       73|                      NULL|NULL|              1994-06-29|              1412601|               1412603|               RUA|  CEL EMIDIO PIEDADE|   154|               NULL|              PARI| 3018010| SP|     7107| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      23494|         2|      0|                          2|                NULL|                 8|               20150209|                       73|                      NULL|NULL|              2004-12-01|              4642701|                  NULL|             PRACA|       JULIO PRESTES|29/137|           LOJA P19|    CAMPOS ELISEOS| 1218020| SP|     7107| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      24117|         1|      5|                          1|                NULL|                 8|               19850705|                        2|                      NULL|NULL|              1968-07-25|              8888888|                  NULL|           AVENIDA|   ALMIRANTE BARROSO|    63|     SALA 308 PARTE|            CENTRO|20031003| RJ|     6001| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      24242|         1|     15|                          1|                NULL|                 8|               20081231|                       71|                      NULL|NULL|              1994-06-30|              4722901|                  NULL|           AVENIDA|        BANDEIRANTES|  3928|               NULL| BRIGADEIRO TOBIAS|18108000| SP|     7145| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      24323|         1|     15|                          1|          POSTO XARA|                 8|               20081231|                       71|                      NULL|NULL|              1982-01-14|              4731800|               4732600|           RODOVIA|              BR 050|   S/N|             KM 214|        ZONA RURAL|75795000| GO|     9295| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
+-----------+----------+-------+---------------------------+--------------------+------------------+-----------------------+-------------------------+--------------------------+----+------------------------+---------------------+----------------------+------------------+--------------------+------+-------------------+------------------+--------+---+---------+-----+----------+-----+----------+----------+--------+--------------------+-----------------+-------------------------+
only showing top 20 rows

In [130]:
# Aplicando atualização
estabs = estabs.withColumn("data_de_inicio_atividade",
                  f.to_date("data_de_inicio_atividade", "yyyyMMdd"))

In [131]:
# Renomeando colunas
estabs.withColumnsRenamed({
    "data_de_inicio_atividade": "data_inicio"
}).show()

+-----------+----------+-------+---------------------------+--------------------+------------------+-----------------------+-------------------------+--------------------------+----+-----------+---------------------+----------------------+------------------+--------------------+------+-------------------+------------------+--------+---+---------+-----+----------+-----+----------+----------+--------+--------------------+-----------------+-------------------------+
|cnpj_basico|cnpj_ordem|cnpj_dv|identificador_matriz_filial|       nome_fantasia|situacao_cadastral|data_situacao_cadastral|motivo_situacao_cadastral|nome_da_cidade_no_exterior|pais|data_inicio|cnae_fiscal_principal|cnae_fiscal_secundaria|tipo_de_logradouro|          logradouro|numero|        complemento|            bairro|     cep| uf|municipio|ddd_1|telefone_1|ddd_2|telefone_2|ddd_do_fax|     fax|  correio_eletronico|situacao_especial|data_da_situacao_especial|
+-----------+----------+-------+---------------------------+--------------------+------------------+-----------------------+-------------------------+--------------------------+----+-----------+---------------------+----------------------+------------------+--------------------+------+-------------------+------------------+--------+---+---------+-----+----------+-----+----------+----------+--------+--------------------+-----------------+-------------------------+
|       1879|         1|     96|                          1|      PIRAMIDE M. C.|                 8|               20011029|                        1|                      NULL|NULL| 1994-05-09|              1412602|                  NULL|               RUA|     JOSE FIGLIOLINI|   608|               NULL|         VILA NILO| 2278020| SP|     7107| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|       2818|         1|     43|                          1|                NULL|                 8|               20081231|                       71|                      NULL|NULL| 1994-05-12|              4671100|                  NULL|               RUA|              BAQUIA|   416|               NULL|VL NOVA MANCHESTER| 3443000| SP|     7107| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|       3110|         1|      7|                          1|                NULL|                 8|               19971231|                        1|                      NULL|NULL| 1994-05-12|              4789007|                  NULL|               RUA|     LEOCADIA CINTRA|   180|            CONJ 83|             MOOCA| 3112040| SP|     7107| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|       3733|         1|     80|                          1|                NULL|                 8|               20081231|                       71|                      NULL|NULL| 1994-05-13|              7490101|                  NULL|               RUA|        AFONSO CELSO|  1102|             CASA 1|      VILA MARIANA| 4119061| SP|     7107| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|       4628|         3|     27|                          2|   EMBROIDERY & GIFT|                 8|               19980429|                        1|                      NULL|NULL| 1995-05-09|              4755501|                  NULL|               RUA|DOUTOR GABRIEL NI...|   177|               NULL|       RUDGE RAMOS| 9632040| SP|     7075| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|       4628|         4|      8|                          2|                NULL|                 8|               20040719|                        1|                      NULL|NULL| 1999-07-15|              4755502|                  NULL|           AVENIDA|   SENADOR VERGUEIRO|  4556|               NULL|       RUDGE RAMOS| 9750900| SP|     7075| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|       4628|         2|     46|                          2|   EMBROIDERY & GIFT|                 8|               19960802|                        1|                      NULL|NULL| 1995-04-06|              4755501|                  NULL|           AVENIDA|             KENNEDY|   700|P2PULMANN QUIO P67L|    JD TRES MARIAS| 9725000| SP|     7075| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|       4628|         1|     65|                          1|                NULL|                 2|               20051103|                        0|                      NULL|NULL| 1994-05-16|              4930202|  7739099,4930201,5...|               RUA|  TIETE (VL VIVALDI)|   189|               NULL|       RUDGE RAMOS| 9615000| SP|     7075|   11|  43625402|   11|  43622689|        11|43625402|SHIRLEY_LUPOS@HOT...|             NULL|                     NULL|
|      10804|         1|     71|                          1|              KOLVOX|                 8|               20170613|                        1|                      NULL|NULL| 1994-05-30|              1412601|               1412603|           AVENIDA|          NORDESTINA|   917|           SALA  02|    VILA AMERICANA| 8021000| SP|     7107|   11|  20580186| NULL|      NULL|      NULL|    NULL|NCCONTABILIDADE@T...|             NULL|                     NULL|
|      11448|         1|      0|                          1|              PROLAV|                 8|               20081231|                       71|                      NULL|NULL| 1994-05-30|              4649408|                  NULL|               RUA|          PITAGUARAS|    05|               NULL|           POMPEIA| 5027100| SP|     7107| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      13566|         1|     58|                          1|                NULL|                 8|               20000914|                        1|                      NULL|NULL| 1994-06-07|              4120400|               4299501|               RUA|       CAETANO NIGRO|   480|               NULL|       VL HARMONIA|14802450| SP|     6163| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      15324|         1|      1|                          1|MINI SACOLAO VILA...|                 8|               20080214|                       54|                      NULL|NULL| 1994-06-10|              4729699|                  NULL|               RUA|      JAN DE CAPELLI|   238|                240|        PQ BRISTOL| 4193070| SP|     7107| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      17853|         1|     36|                          1|J Z B COMERCIO DE...|                 8|               20071003|                       54|                      NULL|NULL| 1994-06-15|              2051700|               2052500|           ESTRADA|MUNIC.ALTAIR A GU...|    SN|              KM 04|        ZONA RURAL|15430000| SP|     6117| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      18103|         1|     89|                          1|                NULL|                 8|               20081231|                       71|                      NULL|NULL| 1994-06-16|              4723700|                  NULL|           AVENIDA|    FREDERICO OZANAN|   946|               NULL|      VILA SAMPAIO|17205000| SP|     6607| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      22504|         1|      2|                          1|                NULL|                 8|               20151119|                        1|                      NULL|NULL| 1994-06-27|              4761003|  4761001,4761002,4...|               RUA|          SANTA CRUZ|   595|               NULL|            CENTRO|13560680| SP|     7079|  016|   2706821| NULL|      NULL|        16| 2706821|                NULL|             NULL|                     NULL|
|      23494|         1|     20|                          1|                LEGO|                 8|               20150209|                       73|                      NULL|NULL| 1994-06-29|              1412601|               1412603|               RUA|  CEL EMIDIO PIEDADE|   154|               NULL|              PARI| 3018010| SP|     7107| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      23494|         2|      0|                          2|                NULL|                 8|               20150209|                       73|                      NULL|NULL| 2004-12-01|              4642701|                  NULL|             PRACA|       JULIO PRESTES|29/137|           LOJA P19|    CAMPOS ELISEOS| 1218020| SP|     7107| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      24117|         1|      5|                          1|                NULL|                 8|               19850705|                        2|                      NULL|NULL| 1968-07-25|              8888888|                  NULL|           AVENIDA|   ALMIRANTE BARROSO|    63|     SALA 308 PARTE|            CENTRO|20031003| RJ|     6001| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      24242|         1|     15|                          1|                NULL|                 8|               20081231|                       71|                      NULL|NULL| 1994-06-30|              4722901|                  NULL|           AVENIDA|        BANDEIRANTES|  3928|               NULL| BRIGADEIRO TOBIAS|18108000| SP|     7145| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      24323|         1|     15|                          1|          POSTO XARA|                 8|               20081231|                       71|                      NULL|NULL| 1982-01-14|              4731800|               4732600|           RODOVIA|              BR 050|   S/N|             KM 214|        ZONA RURAL|75795000| GO|     9295| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
+-----------+----------+-------+---------------------------+--------------------+------------------+-----------------------+-------------------------+--------------------------+----+-----------+---------------------+----------------------+------------------+--------------------+------+-------------------+------------------+--------+---+---------+-----+----------+-----+----------+----------+--------+--------------------+-----------------+-------------------------+
only showing top 20 rows

In [132]:
estabs = estabs.withColumnsRenamed({
    "data_de_inicio_atividade": "data_inicio"
})

In [133]:
# Criando views dos data frames:
empresas.createOrReplaceTempView("v_empresas")
estabs.createOrReplaceTempView("v_estabs")

In [141]:
# Usando comandos SQL nativos
# Mostre todas as empresas que tiveram seu inicio de atividade antes de 1940
spark.sql(
"""
SELECT A.CNPJ_BASICO AS CNPJ, A.NOME_FANTASIA AS NOME,
       A.DATA_INICIO AS FUNDACAO, A.UF AS ESTADO
FROM V_ESTABS A
WHERE
  A.DATA_INICIO < '1940-01-01' AND
  A.NOME_FANTASIA IS NOT NULL
ORDER BY NOME
"""
).show(30, False)

22

In [142]:
# Criando um data frame final com a junção das duas views:
spark.sql(
"""
SELECT *
FROM V_EMPRESAS A
INNER JOIN V_ESTABS B ON B.CNPJ_BASICO = A.CNPJ
"""
).show(10, False)

+----+--------------------+-----------------+------------------------+--------------+-----+---------------+-----------+----------+-------+---------------------------+--------------------+------------------+-----------------------+-------------------------+--------------------------+----+-----------+---------------------+----------------------+------------------+--------------------+------+--------------------+------------------+--------+---+---------+-----+----------+-----+----------+----------+-------+--------------------+-----------------+-------------------------+
|cnpj|        razao_social|natureza_juridica|qualificacao_responsavel|capital_social|porte|ente_federativo|cnpj_basico|cnpj_ordem|cnpj_dv|identificador_matriz_filial|       nome_fantasia|situacao_cadastral|data_situacao_cadastral|motivo_situacao_cadastral|nome_da_cidade_no_exterior|pais|data_inicio|cnae_fiscal_principal|cnae_fiscal_secundaria|tipo_de_logradouro|          logradouro|numero|         complemento|            bairro|     cep| uf|municipio|ddd_1|telefone_1|ddd_2|telefone_2|ddd_do_fax|    fax|  correio_eletronico|situacao_especial|data_da_situacao_especial|
+----+--------------------+-----------------+------------------------+--------------+-----+---------------+-----------+----------+-------+---------------------------+--------------------+------------------+-----------------------+-------------------------+--------------------------+----+-----------+---------------------+----------------------+------------------+--------------------+------+--------------------+------------------+--------+---+---------+-----+----------+-----+----------+----------+-------+--------------------+-----------------+-------------------------+
| 243|IN FOCO PRODUCOES...|             2240|                      49|         500.0|    1|            N/A|        243|         1|     20|                          1|                NULL|                 2|               20050827|                        0|                      NULL|NULL| 1994-07-29|              7420001|                  NULL|               RUA|PROF RIVADAVIA CA...|   366|                NULL|    FREGUESIA DO O| 2961170| SP|     7107| NULL|      NULL| NULL|      NULL|      NULL|   NULL|                NULL|             NULL|                     NULL|
| 362|SOFT TRAINNING TR...|             2240|                      49|           0.0|    5|            N/A|        362|         1|     82|                          1|                NULL|                 8|               20081231|                       71|                      NULL|NULL| 1994-08-30|              8593700|                  NULL|               RUA|        MELO PALHETA|   321|             APTO 83|       AGUA BRANCA| 5002030| SP|     7107| NULL|      NULL| NULL|      NULL|      NULL|   NULL|                NULL|             NULL|                     NULL|
| 451|CONSELHO PASTORAL...|             3999|                      16|           0.0|    5|            N/A|        451|         1|     29|                          1|      CASA DO PASTOR|                 8|               20081231|                       71|                      NULL|NULL| 1994-10-04|              9491000|                  NULL|               RUA|GERALDO PIRE S GO...|   127|                NULL|   JARDIM SAO LUIZ| 5843230| SP|     7107| NULL|      NULL| NULL|      NULL|      NULL|   NULL|                NULL|             NULL|                     NULL|
| 458|AMERICO REGATIERI...|             2135|                      50|        5000.0|    1|            N/A|        458|         1|     40|                          1|                NULL|                 2|               20051103|                        0|                      NULL|NULL| 1994-10-10|              4614100|                  NULL|               RUA|          JURUBATUBA| 1.274|             2 ANDAR|            CENTRO| 9725000| SP|     7075| NULL|      NULL| NULL|      NULL|      NULL|   NULL|                NULL|             NULL|                     NULL|
| 481|WM & C INFORMATIC...|             2240|                      49|           0.0|    5|            N/A|        481|         1|     35|                          1|              WM & C|                 8|               20081231|                       71|                      NULL|NULL| 1994-10-18|              6311900|                  NULL|           ESTRADA|         ITAPECIRICA|  2736|    BLOCO 02 APTO 63|   JARDIM GERMANIA| 5835000| SP|     7107| NULL|      NULL| NULL|      NULL|      NULL|   NULL|                NULL|             NULL|                     NULL|
| 513|CARTORIO 1 OFICIO...|             3034|                      42|           0.0|    5|            N/A|        513|         1|      0|                          1|TABELIONATO FERNA...|                 2|               19980728|                        0|                      NULL|NULL| 1981-12-17|              8423000|                  NULL|           ALAMEDA|          DAS FLORES|   626|QUADRA23         ...|            CENTRO|75630000| GO|     9447|   64|  36041129|   64|  36041283|      NULL|   NULL|CARTORIOMAIRI@HOT...|             NULL|                     NULL|
| 633|INSTITUTO QUALIDA...|             3999|                      16|           0.0|    5|            N/A|        633|         1|      8|                          1|                NULL|                 2|               19980623|                        0|                      NULL|NULL| 1994-11-29|              9430800|  9493600,9499500,8...|               RUA|          GUARARAPES|  1909|           ANDAR: 2;| BROOKLIN PAULISTA| 4561004| SP|     7107|   11|  35117681|   11|  35117680|        38| 144691|      IQE@IQE.ORG.BR|             NULL|                     NULL|
| 633|INSTITUTO QUALIDA...|             3999|                      16|           0.0|    5|            N/A|        633|         2|     80|                          2|                NULL|                 2|               20000128|                        0|                      NULL|NULL| 2000-01-28|              9430800|  9493600,9499500,8...|           AVENIDA|          LINS PETIT|   100|            ANDAR 12|         BOA VISTA|50070230| PE|     2531|   11|  21495400| NULL|      NULL|        81|4248841|                NULL|             NULL|                     NULL|
| 642|CONDOMINIO NOVA A...|             3085|                       5|           0.0|    5|            N/A|        642|         1|     90|                          1|CONDOMINIO EM CON...|                 3|               20210322|                       21|                      NULL|NULL| 1994-12-02|              8112500|                  NULL|               RUA|        DJALMA BENTO|   210|                NULL|       SANTO AMARO| 4678020| SP|     7107| NULL|      NULL| NULL|      NULL|      NULL|   NULL|                NULL|             NULL|                     NULL|
| 796|R.S.O. SERVICOS D...|             2240|                      49|           0.0|    1|            N/A|        796|         1|     82|                          1|                NULL|                 3|               20120809|                       21|                      NULL|NULL| 1994-05-05|              6311900|                  NULL|           ESTRADA|          DA REPRESA|  9000|                S.25|         DAS RITAS| 6950000| SP|     6625| NULL|      NULL| NULL|      NULL|      NULL|   NULL|                NULL|             NULL|                     NULL|
| 857|COMERCIAL FREITAS...|             2062|                      49|        1000.0|    1|            N/A|        857|         1|      1|                          1|   EMBALAGENS SERLUZ|                 8|               20190409|                        1|                      NULL|NULL| 1994-05-05|              4774100|                  NULL|           AVENIDA|      MANOEL GOULART|   256|                NULL|         VILA NOVA|19010270| SP|     6929| NULL|      NULL| NULL|      NULL|      NULL|   NULL|                NULL|             NULL|                     NULL|
| 879|ETAMINE CONFECCOE...|             2062|                      49|        1092.0|    1|            N/A|        879|         1|     71|                          1|                NULL|                 8|               20170724|                        1|                      NULL|NULL| 1994-05-03|              1412601|               1412603|               RUA|       DAS PALMEIRAS|    45|                NULL|      VILA AUGUSTA| 7022000| SP|     6477| NULL|      NULL| NULL|      NULL|      NULL|   NULL|                NULL|             NULL|                     NULL|
|1084|DAILY FAVA FRIGO ...|             2135|                      50|           0.0|    1|            N/A|       1084|         1|     88|                          1|            EXCLUSIV|                 8|               20070403|                        1|                      NULL|NULL| 1994-05-05|              4781400|                  NULL|               RUA|   MARECHAL DEOLDORO|   702|              FUNDOS|            CENTRO|19700000| SP|     6811|  018|   3612408| NULL|      NULL|        18|3612408|                NULL|             NULL|                     NULL|
|1133|NILSON DA SILVA N...|             2135|                      50|           0.0|    1|            N/A|       1133|         1|     82|                          1|BAR E MERCEARIA N...|                 2|               20051103|                        0|                      NULL|NULL| 1994-05-05|              4712100|                  NULL|               RUA|            AMAZONAS|   505|                NULL| JARDIM BELA VISTA|14150000| SP|     7131|   16|  39874303| NULL|      NULL|      NULL|   NULL|ercapitelli@terra...|             NULL|                     NULL|
|1212|ELESBAO MONTEIRO ...|             2135|                      50|           0.0|    1|            N/A|       1212|         1|     93|                          1|                NULL|                 8|               20090406|                        1|                      NULL|NULL| 1994-05-06|              5611203|                  NULL|               RUA|JOSE RABELO PORTELLA|  3095|                NULL|   JARDIM BERTIOGA|13225575| SP|     7233| NULL|      NULL| NULL|      NULL|      NULL|   NULL|                NULL|             NULL|                     NULL|
|1699|     JORANDY DORICIO|             2135|                      50|           0.0|    5|            N/A|       1699|         1|      4|                          1|BAR E MERCEARIA S...|                 8|               19940831|                        1|                      NULL|NULL| 1994-05-06|              5611203|                  NULL|               RUA|          SANTA IRIA|  1239|                NULL|VILA STA TEREZINHA|14815000| SP|     6487| NULL|      NULL| NULL|      NULL|      NULL|   NULL|                NULL|             NULL|                     NULL|
|1863|MARCELO GASPAR RO...|             2135|                      50|           0.0|    5|            N/A|       1863|         1|     83|                          1|   MARCELO'S LANCHES|                 8|               20020626|                        1|                      NULL|NULL| 1994-05-09|              5612100|                  NULL|               RUA|          SAO CAMILO|    30|                NULL|        CECAP NOVA|12703200| SP|     6369| NULL|      NULL| NULL|      NULL|      NULL|   NULL|                NULL|             NULL|                     NULL|
|1896|SERRALHERIA CHUBA...|             2062|                      49|       20000.0|    1|            N/A|       1896|         1|     23|                          1|                NULL|                 4|               20180918|                       63|                      NULL|NULL| 1994-05-06|              2512800|                  NULL|               RUA|ISAQUE VALADAO DE...|    82|                NULL|   JARDIM SILVEIRA| 3274170| SP|     7107|   11|  29187211| NULL|      NULL|      NULL|   NULL|                NULL|             NULL|                     NULL|
|2393|   HELIO MILANI LINS|             2135|                      50|           0.0|    5|            N/A|       2393|         1|     72|                          1|BAR E MERCEARIA D...|                 8|               20081231|                       71|                      NULL|NULL| 1994-05-12|              4712100|                  NULL|               RUA|PAULO APARECIDO A...|  1483|                NULL|         JUNQUEIRA|16400033| SP|     6643| NULL|      NULL| NULL|      NULL|      NULL|   NULL|                NULL|             NULL|                     NULL|
|2525|EUZENIR MENDES DO...|             2135|                      50|           0.0|    5|            N/A|       2525|         1|     66|                          1|                NULL|                 8|               20081231|                       71|                      NULL|NULL| 1994-05-12|              4781400|                  NULL|               RUA|JOSE CARLOS DE TO...|   154|                NULL|            CENTRO|11910000| SP|     7137| NULL|      NULL| NULL|      NULL|      NULL|   NULL|                NULL|             NULL|                     NULL|
+----+--------------------+-----------------+------------------------+--------------+-----+---------------+-----------+----------+-------+---------------------------+--------------------+------------------+-----------------------+-------------------------+--------------------------+----+-----------+---------------------+----------------------+------------------+--------------------+------+--------------------+------------------+--------+---+---------+-----+----------+-----+----------+----------+-------+--------------------+-----------------+-------------------------+
only showing top 20 rows

In [143]:
# Criando um data frame final com a junção das duas views:
emp_estabs = spark.sql(
"""
SELECT *
FROM V_EMPRESAS A
INNER JOIN V_ESTABS B ON B.CNPJ_BASICO = A.CNPJ
"""
)

In [144]:
emp_estabs.count()

4836221

In [145]:
emp_estabs.createOrReplaceTempView("v_emp_estabs")

In [152]:
# Mostre a média de investimento por estado:
spark.sql(
"""
SELECT A.UF AS ESTADO, AVG(A.CAPITAL_SOCIAL) AS MEDIA_INVESTIMENTO
FROM V_EMP_ESTABS A
WHERE
  A.CAPITAL_SOCIAL > 0
GROUP BY A.UF
ORDER BY MEDIA_INVESTIMENTO DESC
"""
).toPandas()

   ESTADO  MEDIA_INVESTIMENTO
0      EX        5.885968e+08
1      PB        3.160104e+07
2      RS        2.308790e+07
3      PE        1.446643e+07
4      AL        1.286069e+07
5      RO        1.249884e+07
6      ES        1.118865e+07
7      MA        8.671443e+06
8      RR        8.632789e+06
9      SP        8.475511e+06
10     MS        8.442921e+06
11     SE        8.415692e+06
12     RN        8.161815e+06
13     MG        7.422281e+06
14     AM        7.219437e+06
15     PA        6.886721e+06
16     GO        6.655657e+06
17     AP        6.636506e+06
18     PR        6.601905e+06
19     DF        6.355326e+06
20     RJ        6.117296e+06
21     SC        5.721662e+06
22     BA        5.558406e+06
23     TO        4.543511e+06
24     PI        4.189159e+06
25     CE        4.017362e+06
26     MT        3.295819e+06
27     AC        1.900038e+06

In [153]:
# Salvando dataframes / views em um arquivo.orc (arquivo colunar)
url = "/content/drive/MyDrive/BasesSpark/ORC"
emp_estabs.write.orc(
    url,
    mode = "overwrite"
)

In [154]:
# Importando arquivo orc:
url = "/content/drive/MyDrive/BasesSpark/ORC/part*"
orc = spark.read.orc(url)

In [155]:
# Criando a view
orc.createOrReplaceTempView("v_orc")

In [156]:
# Mostre a média de investimento por estado.
# SP | 1000000
# RJ | 5000000
spark.sql(
    """
SELECT A.UF AS ESTADO, AVG(A.CAPITAL_SOCIAL) AS MEDIA_INVESTIMENTO
FROM V_ORC A
WHERE
  A.CAPITAL_SOCIAL > 0
GROUP BY A.UF
ORDER BY MEDIA_INVESTIMENTO DESC
"""
).toPandas()

   ESTADO  MEDIA_INVESTIMENTO
0      EX        5.885968e+08
1      PB        3.160104e+07
2      RS        2.308790e+07
3      PE        1.446643e+07
4      AL        1.286069e+07
5      RO        1.249884e+07
6      ES        1.118865e+07
7      MA        8.671443e+06
8      RR        8.632789e+06
9      SP        8.475511e+06
10     MS        8.442921e+06
11     SE        8.415692e+06
12     RN        8.161815e+06
13     MG        7.422281e+06
14     AM        7.219437e+06
15     PA        6.886721e+06
16     GO        6.655657e+06
17     AP        6.636506e+06
18     PR        6.601905e+06
19     DF        6.355326e+06
20     RJ        6.117296e+06
21     SC        5.721662e+06
22     BA        5.558406e+06
23     TO        4.543511e+06
24     PI        4.189159e+06
25     CE        4.017362e+06
26     MT        3.295819e+06
27     AC        1.900038e+06